.tabs {
  display: flex;
  margin-top: 90px;
}

.tabs li {
  border: 2px solid #333;
  margin-right: 30px;
  flex: 1 1 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 32px 0;
}

.tabs li:last-child {
  margin-right: 0;
}

/* ----- Main Image ----- */
#main__img img {
  width: 100%;
  max-width: 100%;
}

#present {
  background-color: #298445;
  padding: 30px 0;
}

.pres__img {
  flex-basis: 30%;
}

.pres__txt {
  flex-basis: 70%;
  text-align: center;
  color: #fff;
  line-height: 2.23;
}

.pres__txt h2 {
  margin-bottom: 20px;
}

/* ----- Section News ----- */
#info {
  padding: 65px 0 80px;
}

.info__list {
  padding: 5px 150px 0;
}

.info__list dl {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  font-size: 1.4rem;
}

.info__list dl dt {
  float: left;
  width: 10%;
  color: #298445;
  margin-right: 40px;
  line-height: 2.3;
}

.info__list dl dd {
  float: left;
  width: 85%;
  line-height: 2.3;
}

.info__img {
  padding: 0 150px;
}

.info__img ul {
  margin-left: calc(10% + 40px);
}

.info__img li {
  margin-right: 30px;
}

.info__img li:last-child {
  margin-right: 0;
}

/* ----- Business Information ----- */
#bus__info {
  background-color: #c3d673;
  padding: 80px 0 65px;
}

.bus__item {
  background-color: #fff;
  padding: 20px;
  flex-basis: 30%;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;
  transition: .2s all ease-in-out;
}

.bus__item:nth-child(3n) {
  margin-right: 0;
}

.bus__item:hover {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.bus__item .btn {
  margin: 15px 0;
}

.bus__number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 6rem;
  font-style: italic;
  color: #298445;
}

.bus__txt {
  line-height: 2;
}

/* ----- Profile + Recruit ----- */
.info__box {
  text-align: center;
  flex-basis: 33.67%;
  min-height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__img {
  flex-basis: 66.33%;
}

#profile h2 {
  margin-bottom: 50px;
}

#profile .info__img {
  background: url(../../images/top_bg01.png) center no-repeat;
  background-size: cover;
}

#recruit h2 {
  margin-bottom: 70px;
}

#recruit .info__img {
  background: url(../../images/top_bg01.png) center no-repeat;
  background-size: cover;
}

/* ----- Page 2 ----- */
.feature__box {
  flex-basis: calc((100% - 40px) / 3);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f0f3f5;
  padding: 70px 5px 50px;
}

.feature__box:nth-child(3n) {
  margin-right: 0;
}

.feature__box span {
  font-size: 9.4rem;
  font-weight: 600;
}

.feature__box h3 {
  margin-bottom: 20px;
}

.feature__box .feature__txt {
  max-width: 250px;
}

/* ----- Page 3-7 ----- */
.title__box {
  flex-basis: 48%;
  margin-right: 40px;
}

.title__box:nth-child(2n) {
  margin-right: 0;
}

.title__box img {
  margin-bottom: 15px;
}

.title__box h3 {
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 90px;
}

.comment > .row {
  margin-bottom: 60px;
}

.comment__img {
  flex-basis: 40%;
}

.comment__txt {
  flex-basis: 60%;
}

.comment__txt h4 {
  font-size: 3rem;
  line-height: 1.7;
  margin-bottom: 15px;
}

.comment__txt p {
  font-size: 1.3rem;
  line-height: 2.4;
}

.comment__txt .comment__author {
  font-weight: 600;
  text-align: right;
}

/* ----- Page 9 ----- */
.info__contact {
  margin: 215px 0;
}

.info__left,
.info__right {
  flex-basis: 50%;
  text-align: center;
  border: 1px solid #333;
  background-color: #f0f3f5;
  min-height: 128px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
