@font-face {
  font-family: 'Hannari';
  src: url(../fonts/Hannari.otf);
}

@font-face {
  font-family: 'KozukaGothicPrN-R';
  src: url(../fonts/KozukaGothicPrN-R.otf);
}

@font-face {
  font-family: 'HirakakuStd-W3';
  src: url(../fonts/HirakakuStd-W3.otf);
}

@font-face {
  font-family: 'HirakakuStd-W6';
  src: url(../fonts/HirakakuStd-W6.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #333;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}

p {
  font-family: "KozukaGothicPrN-R", Arial, sans-serif;
  letter-spacing: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #e18a50 !important;
}

a:hover img {
  opacity: .8;
}

img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

table td {
  font-family: "KozukaGothicPrN-R", Arial, sans-serif;
}

main {
  background-color: #e2ded4;
}

main .container {
  background: url(/images/bg_body.jpg) bottom no-repeat;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.mg-bt-img {
  margin-bottom: 0 !important;
}

.pd-bt {
  padding-bottom: 165px;
}

.pd-bt60 {
  padding-bottom: 60px;
}

.pd-bt65 {
  padding-bottom: 65px;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  main {
    padding: 80px 0 0;
  }

  .mg-bt-img {
    margin-bottom: 30px !important;
  }

  .pd-bt {
    padding-bottom: 80px;
  }
}

.green {
  color: #527c68;
}

.orange {
  color: #e18a50;
}

.bg_white {
  background: #fff;
}

.mw_370 img {
  max-width: 370px !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row__wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.row__center {
  display: flex;
  justify-content: center;
}

.row__mid {
  display: flex;
  align-items: center;
}

.row__bottom {
  display: flex;
  align-items: flex-end;
}

.row__cen_mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 30.83%;
}

.col-5 {
  width: 48.75%;
}

.col-6 {
  flex-basis: 48%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 74%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 1260px) {
  .container {
    padding: 0 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px !important;
  }

  .col-4,
  .col-6,
  .col-8 {
    flex-basis: 100%;
  }

  .col-3,
  .col-5,
  .col-9 {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0 20px !important;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  transition: .2s all ease-in-out;
}

.header__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 14px;
}

.gnav {
  display: flex;
  align-items: center;
}

.nav__pc > ul {
  display: flex;
}

.nav__pc li {
  position: relative;
  padding-right: 15px;
}

.nav__pc li:hover a,
  .nav__pc li:hover span {
  color: #e18a50;
}

.nav__pc a,
.nav__pc span {
  padding: 2px 0;
  *zoom: 1;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  color: #333;
}

.nav__pc a.active {
  color: #e18a50;
  position: relative;
}

.nav__pc a.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  border-bottom: 1px solid #e18a50;
  width: 100%;
}

.nav__logo {
  margin-right: 15px;
}

.nav__logo a {
  display: block;
}

.nav__logo img {
  height: 48px;
  width: auto;
}

.nav__btn img {
  width: 73px;
  height: auto;
}

.img_show {
  display: inline-block;
}

.img_hide {
  display: none;
}

@media screen and (max-width: 1260px) {
  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    display: block;
    padding: 0;
  }

  .nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
  }

  .nav__logo h1 {
    padding-left: 20px;
  }

  .nav__btn {
    display: flex;
  }

  .nav__btn img {
    height: 80px;
    width: auto;
  }

  .gnav {
    display: block;
  }

  .menu__title {
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    background: #527c68;
    text-align: center;
    padding: 15px 0 25px;
  }

  .nav {
    background: #fff;
  }

  .nav ul {
    padding: 0 20px;
    overflow-y: scroll;
    z-index: 100;
  }

  .nav ul.sub {
    padding: 0;
    max-height: initial;
    overflow-y: auto;
  }

  .nav li {
    position: relative;
  }

  .nav li a,
      .nav li span {
    border-bottom: 1px solid #BCBCBC;
    display: block;
    font-size: 2.6rem;
    padding: 20px 15px 28px;
  }

  .nav li span:before,
      .nav li span:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background: #527c68;
    transition: .2s all ease-in-out;
  }

  .nav li span:before {
    top: 25px;
    right: 25px;
    transform: rotate(90deg);
  }

  .nav li span:after {
    top: 25px;
    right: 25px;
  }

  .nav li.hover ul {
    position: static;
    left: 0;
  }

  .nav li.hover span:after {
    transform: rotate(90deg);
    transition: .2s all ease-in-out;
  }

  .nav li.hover span:before {
    transform: rotate(270deg);
    transition: .2s all ease-in-out;
  }
  /* ----- sub lists ----- */
  .sub {
    position: absolute;
    left: -9999px;
    z-index: 100;
  }

  .sub li {
    padding: 0;
  }

  .sub li a {
    display: block;
    position: relative;
    z-index: 100;
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .nav__logo h1 img {
    height: 40px;
    width: auto;
  }

  .nav__btn img {
    height: 60px;
    width: auto;
  }

  .menu__title {
    font-size: 3rem;
    padding: 8px 0 17px;
  }

  .ios .menu__title {
    padding: 12px 0 13px;
  }

  .nav li a,
  .nav li span {
    font-size: 2.1rem;
    padding: 14px 15px 20px;
  }

  .nav li span:before,
  .nav li span:after {
    top: 20px;
  }

  .sub li a {
    padding-left: 30px;
  }
}

@media screen and (max-width: 340px) {
  .nav__logo h1 {
    padding-left: 0;
  }
}

#mainimage {
  margin-top: 100px;
}

.home #mainimage {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  #mainimage {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  #mainimage {
    margin-top: 60px;
  }
}

/* ----- Footer Top page ----- */
footer {
  background-color: #527c68;
  color: #fff;
}

.ft__top {
  background-color: #fff;
  padding: 10px 0;
  color: #333;
}

.ft__logo img {
  height: 73px;
  width: auto;
  margin-right: 10px;
}

.ft__logo p {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: .15em;
}

.ft__logo p:first-child {
  margin-right: 10px;
}

.ft__bot {
  padding: 100px 0 20px;
}

.ft__bot .row {
  flex-flow: row wrap;
}

.ft__address {
  margin-bottom: 50px;
}

.ft__address p {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 5px;
  letter-spacing: .15em;
}

.ft__address p:nth-child(2) {
  font-size: 2.8rem;
  margin-bottom: 18px;
}

.ft__menu ul {
  display: flex;
  margin-bottom: 55px;
}

.ft__menu ul:first-child {
  margin-bottom: 33px;
}

.ft__menu ul li {
  font-size: 1.2rem;
  margin-right: 20px;
  min-width: 115px;
}

.ft__menu ul li ul {
  margin-top: 10px;
  margin-bottom: 0;
}

.ft__menu ul li ul li {
  margin-right: 0;
}

.ft__menu ul li a {
  color: #fff;
}

.ft__contact {
  min-width: 245px;
}

.box__contact {
  border: 2px solid #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
}

.ft__copyright {
  font-size: 1rem;
  text-align: center;
  margin-top: 15px;
}

.ft__copyright p {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* ----- Footer Child page ----- */
.ft__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 23px;
}

.ft__inner .ft__logo {
  background: none;
}

.ft__nav {
  display: flex;
  align-items: center;
}

.ft__nav ul {
  display: flex;
}

.ft__nav li {
  padding: 0 15px;
}

.ft__nav li a {
  border-bottom: 1px solid #fff;
}

.ft__nav li:hover a {
  border-bottom: 1px solid #527c68;
}

.btn_toppage {
  position: relative;
}

.btn_toppage img {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 100px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .ft__logo p {
    display: none;
  }

  .ft__logo img {
    margin-right: 0;
  }

  .ft__bot {
    padding: 90px 0 20px;
  }

  .ft__copyright {
    font-size: 2rem;
    padding: 0;
    margin-top: 65px;
  }

  .btn_toppage {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .ft__logo img {
    height: 60px;
  }

  .ft__bot {
    padding: 50px 0 20px;
  }

  .ft__copyright {
    font-size: 1.8rem;
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .ft__copyright {
    font-size: 1.2rem;
  }
}

.btn_round, .btn_style1, .btn_style2, .btn_style3 {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
  text-align: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.btn_round {
  background-color: #e18a50;
  color: #fff;
  font-size: 2.2rem;
  line-height: 1.2;
  padding: 21px 10px 27px;
  letter-spacing: 0.1em;
  position: relative;
  max-width: 600px;
  margin-bottom: 80px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.btn_round:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 28.5%;
  bottom: auto;
  left: auto;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: #fff;
}

.btn_round:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 29.5%;
  bottom: auto;
  left: auto;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 6px solid #e18a50;
  border-bottom: 4px solid transparent;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.btn_round:hover {
  color: #fff !important;
  opacity: .9;
}

.btn_round.small {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.2rem;
  letter-spacing: .2em;
  padding: 4px 10px 10px;
  box-shadow: none;
  border-radius: 15px;
}

.btn_round.small:before {
  top: 50%;
  right: 12.5%;
  bottom: auto;
  left: auto;
  position: absolute;
}

.btn_round.small:after {
  top: 50%;
  right: 14.6%;
  bottom: auto;
  left: auto;
  position: absolute;
}

.btn_style1 {
  background: #e18a50;
  color: #fff;
  font-size: 1.8rem;
  padding: 11px 10px 18px;
}

.btn_style1:hover {
  color: #fff !important;
  opacity: .9;
}

.btn_style2 {
  color: #fff;
  font-size: 1.8rem;
  border: 2px solid #fff;
  padding: 9px 10px 16px;
}

.btn_style2:hover {
  background: #fff;
  color: #527c68 !important;
}

.btn_style3 {
  background: #e18a50;
  color: #fff;
  font-size: 2.4rem;
  position: relative;
  padding: 6px 5px 38px 5px;
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 0;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.btn_style3:before {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 9px;
  left: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #fff;
}

.btn_style3:after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 15px;
  left: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #e18a50;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.btn_style3:hover {
  color: #fff !important;
  opacity: .9;
}

.mac-os .btn_round {
  padding: 23px 10px 27px;
}

.mac-os .btn_round.small {
  padding: 6px 10px 8px;
}

.mac-os .btn_style1 {
  padding: 14px 10px 15px;
}

.mac-os .btn_style2 {
  padding: 12px 10px 13px;
}

@media screen and (max-width: 767px) {
  .btn_round:before {
    top: 50%;
    right: 26.5%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round:after {
    top: 50%;
    right: 27.5%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round.small:before {
    top: 50%;
    right: 26.5%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round.small:after {
    top: 50%;
    right: 27.6%;
    bottom: auto;
    left: auto;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
  .btn_round {
    font-size: 2rem;
    margin-bottom: 40px;
    padding: 12px 10px 18px;
  }

  .btn_round:before {
    top: 50%;
    right: 20.5%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round:after {
    top: 50%;
    right: 22%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round.small:before {
    top: 50%;
    right: 20.5%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round.small:after {
    top: 50%;
    right: 22%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_style3 {
    font-size: 1.8rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 450px) {
  .btn_round {
    font-size: 1.8rem;
  }

  .btn_round:before {
    top: 50%;
    right: 16.5%;
    bottom: auto;
    left: auto;
    position: absolute;
    width: 18px;
    height: 18px;
  }

  .btn_round:after {
    top: 50%;
    right: 18%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round.small:before {
    top: 50%;
    right: 16.5%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_round.small:after {
    top: 50%;
    right: 18%;
    bottom: auto;
    left: auto;
    position: absolute;
  }

  .btn_style3 {
    font-size: 1.4rem;
  }
}

.title {
  text-align: center;
  display: inline-block;
  margin-bottom: 45px;
}

.title p {
  font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.title span {
  font-size: 2rem;
  color: #333;
  letter-spacing: 0;
  display: inline-block;
  padding-top: 10px;
  position: relative;
}

.title span:before, .title span:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200%;
  background: #333;
  top: 25px;
}

.title span:before {
  right: 100%;
  margin-right: 20px;
}

.title span:after {
  left: 100%;
  margin-left: 20px;
}

.title h2 {
  font-size: 3.6rem;
  font-weight: normal;
  color: #527c68;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
  margin: 0 25px;
}

.title h2:after {
  content: '';
  position: absolute;
}

.title h2.ic_info {
  padding-right: 55px;
}

.title h2.ic_info:after {
  top: 4px;
  right: 0;
  background: url(/images/ic_02.svg) center no-repeat;
  width: 43px;
  height: 38px;
}

.title h2.ic_flower {
  padding-right: 50px;
}

.title h2.ic_flower:after {
  top: 8px;
  right: 0px;
  background: url(/images/ic_03.svg) center no-repeat;
  width: 33px;
  height: 38px;
}

.title h2.ic_flower + p span:before,
      .title h2.ic_flower + p span:after {
  width: 100%;
}

h4.style1 {
  font-family: "HirakakuStd-W6", Arial, sans-serif;
  font-size: 1.8rem;
  color: #527c68;
  border-bottom: 1px solid #B1B1B1;
  padding-bottom: 17px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .title h2 {
    padding-right: 50px;
  }

  .title h2:after {
    top: 14px;
    width: 38px;
    height: 33px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    margin-bottom: 30px;
  }

  .title h2 {
    font-size: 3.1rem;
    padding-right: 35px;
    margin: 0;
  }

  .title h2:after {
    top: 10px;
    width: 33px;
    height: 28px;
  }

  .title h2.ic_flower {
    padding-right: 40px;
  }

  .title h2.ic_flower:after {
    top: 10px;
    width: 28px;
    height: 33px;
  }

  .title h2.ic_flower + p span:before,
        .title h2.ic_flower + p span:after {
    width: 50%;
  }

  .title span:before, .title span:after {
    width: 140%;
  }
}

@media screen and (max-width: 450px) {
  .title h2 {
    font-size: 2.3rem;
  }

  .title h2:after {
    top: 5px;
    width: 28px;
    height: 23px;
  }

  .title h2.ic_flower {
    padding-right: 30px;
  }

  .title h2.ic_flower:after {
    top: 2px;
    width: 23px;
    height: 28px;
  }

  .title h2.ic_flower + p span:before,
      .title h2.ic_flower + p span:after {
    width: 40%;
  }

  .title span:before, .title span:after {
    width: 60%;
  }
}

.news__list {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 120px 100px;
  font-family: "KozukaGothicPrN-R", Arial, sans-serif;
}

.news__list dl {
  padding: 18px 180px;
  width: 100%;
  line-height: 2;
}

.news__list dl dt {
  float: left;
  width: 15%;
  margin-right: 10%;
}

.news__list dl dd {
  float: left;
  width: 75%;
  letter-spacing: 0;
}

.social__list {
  display: flex;
  justify-content: flex-end;
}

.social__list li {
  margin-right: 25px;
}

.social__list li:last-child {
  margin-right: 0;
}

.social__list li img {
  height: 36px;
  width: auto;
}

.btn__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.btn__list li {
  flex-basis: 22.5%;
  max-width: 270px;
  margin-right: 3.3%;
  margin-bottom: 20px;
}

.btn__list li:last-child {
  margin-right: 0;
}

.img__list ul {
  display: flex;
  margin-bottom: 60px;
}

.img__list ul li {
  flex-basis: 31.67%;
  margin-right: 2.5%;
}

.img__list ul li:last-child {
  margin-right: 0;
}

.square_list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.square_list li:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 13px;
  height: 13px;
  background: #333;
}

@media screen and (max-width: 767px) {
  .news__list {
    background: #fff;
    margin: 0 0 80px;
  }

  .news__list dl {
    padding: 15px;
  }

  .news__list dl dt {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .news__list dl dd {
    float: none;
    width: 100%;
  }

  .social__list {
    justify-content: center;
  }

  .social__list li {
    margin-right: 50px;
  }

  .social__list li img {
    height: 60px;
  }

  .btn__list {
    flex-wrap: wrap;
  }

  .btn__list li {
    flex-basis: 47%;
    margin-right: 6%;
    margin-bottom: 5.6%;
    max-width: none;
  }

  .btn__list li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .news__list {
    margin: 0 0 40px;
  }

  .news__list dl dt {
    margin-bottom: 10px;
  }

  .social__list li {
    margin-right: 20px;
  }

  .social__list li img {
    height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .social__list li img {
    height: 30px;
  }
}

#breadcum {
  font-family: "KozukaGothicPrN-R", Arial, sans-serif;
  padding: 25px 0 80px;
}

#breadcum ul {
  display: flex;
}

#breadcum ul li {
  padding-right: 25px;
  margin-right: 10px;
  position: relative;
  font-size: 1.3rem;
}

#breadcum ul li:after {
  content: '>';
  position: absolute;
  top: 0;
  right: 0;
}

#breadcum ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

#breadcum ul li:last-child:after {
  content: '';
}

.box_sd {
  display: block;
  margin-bottom: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.badge_img, .badge_txt {
  display: inline-block;
  background: #527c68;
  color: #fff;
  font-size: 2.8rem;
  text-align: center;
  line-height: 1;
}

.badge_img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 220px;
  padding: 12px 5px 20px;
}

.badge_img.right {
  top: 0;
  right: 0;
  left: auto;
}

.badge_txt {
  min-width: 100px;
  padding: 7px 21px 15px;
  margin-right: 10px;
}

.mac-os .badge_img {
  padding: 15px 5px 17px;
}

.mac-os .badge_txt {
  padding: 10px 21px 12px;
}

.table__info {
  margin-bottom: 80px;
}

.table__info th {
  font-size: 3.2rem;
  font-weight: normal;
  color: #fff;
  background: #527c68;
  padding: 6px 5px 14px;
}

.table__info tr td {
  padding: 1px 20px;
  line-height: 3;
}

.table__info tr td:first-child {
  font-size: 2.2rem;
  width: 17.5%;
  background: #dde5e1;
  border-left: 1px solid #B1B1B1;
  border-bottom: 1px solid #B1B1B1;
}

.table__info tr td:last-child {
  font-size: 2rem;
  background: #fff;
  border-right: 1px solid #B1B1B1;
  border-bottom: 1px solid #B1B1B1;
}

.mac-os .table__info th {
  padding: 10px 5px;
}

.box_txt {
  background: url(/images/bg_trans_sp.png) center no-repeat;
  background-size: cover;
  padding: 30px;
}

.box_txt span {
  display: inline-block;
  text-align: center;
}

.box_txt span.txt_orange {
  color: #e18a50;
  font-size: 3.6rem;
}

.box_txt span.txt_green {
  color: #527c68;
  font-size: 3.6rem;
}

.box_txt span.txt_sub {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.box_txt span.txt_sub_lg {
  font-size: 3.6rem;
}

.box_txt .box_txt_top {
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.box_txt .box_time {
  display: flex;
  margin-bottom: 30px;
  align-items: baseline;
}

.box_txt .box_time:last-child {
  margin-bottom: 0;
}

.box_txt .box_time .label {
  margin-right: 15px;
}

.box_txt .box_time .label span {
  font-size: 1.9rem;
  color: #fff;
  background: #527c68;
  display: inline-block;
  min-width: 145px;
  padding: 10px 5px 11px;
  margin-bottom: 0;
}

.box_txt .box_time .time_table p {
  font-size: 1.6rem;
}

.table_1 {
  margin-bottom: 10px;
}

.table_1 td {
  border: 1px solid #B1B1B1;
  text-align: center;
  padding: 15px 9px;
  font-family: "HirakakuStd-W3", Arial, sans-serif;
}

.table_1 td.left {
  text-align: left;
}

.table_1 .td_bg {
  background: #EDEDED;
}

@media screen and (max-width: 767px) {
  #breadcum {
    display: none;
  }

  .badge_img, .badge_txt {
    font-size: 3.2rem;
  }

  .badge_img.right {
    top: 0;
    left: 0;
    right: auto;
  }

  .table__info {
    margin-bottom: 40px;
  }

  .table__info tr td {
    padding: 1px 10px;
    line-height: 2.5;
  }

  .table__info tr td:first-child {
    width: 25%;
  }

  .box_txt .box_time .time_table p.txt_sml {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  .badge_img, .badge_txt {
    font-size: 2.6rem;
  }

  .badge_img {
    min-width: 150px;
    padding: 7px 5px 15px;
  }

  .badge_txt {
    min-width: 80px;
    padding: 4px 5px 12px;
  }

  .ios .badge_img {
    padding: 11px 5px;
  }

  .ios .badge_txt {
    padding: 8px 5px;
  }

  .table__info th {
    font-size: 2.6rem;
  }

  .table__info tr td:first-child {
    font-size: 2rem;
  }

  .table__info tr td:last-child {
    font-size: 1.8rem;
  }

  .box_txt {
    padding: 20px;
  }

  .box_txt span.txt_orange {
    font-size: 3.2rem;
  }

  .box_txt span.txt_green {
    font-size: 3.2rem;
  }

  .box_txt span.txt_sub {
    font-size: 1.6rem;
  }

  .box_txt span.txt_sub_lg {
    font-size: 3.2rem;
  }

  .box_txt .box_time .label span {
    min-width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .box_sd {
    margin-bottom: 50px;
  }

  .badge_img, .badge_txt {
    font-size: 2rem;
  }

  .badge_img {
    min-width: 120px;
  }

  .table__info th {
    font-size: 2.2rem;
  }

  .table__info tr td:first-child {
    font-size: 1.4rem;
    width: 35%;
  }

  .table__info tr td:last-child {
    font-size: 1.4rem;
  }

  .box_txt span.txt_orange {
    font-size: 2.6rem;
  }

  .box_txt span.txt_green {
    font-size: 2.6rem;
  }

  .box_txt span.txt_sub {
    font-size: 1.4rem;
  }

  .box_txt span.txt_sub_lg {
    font-size: 2.6rem;
  }

  .box_txt .box_time .label span {
    font-size: 1.3rem;
    min-width: 75px;
  }

  .box_txt .box_time .time_table p {
    font-size: 1.4rem;
  }
}
