.info__wrap {
  max-width: 960px;
  margin: 0 auto 80px;
  background: rgba(255, 255, 255, 0.7);
  padding: 25px 55px;
  font-family: "HirakakuStd-W3", Arial, sans-serif;
}

.info__wrap .info__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b1b1b1;
}

.info__wrap .info__row:last-child {
  border-bottom: none;
}

.info__wrap .info__row .info__date {
  width: 11%;
}

.info__wrap.info__list .info__row {
  align-items: center;
  padding: 14px 0;
}

.info__wrap.info__list .info__row .info__content {
  width: 60%;
}

.info__wrap.info__list .info__row .info__link {
  width: 18%;
}

.info__wrap.info__details .info__row {
  align-items: baseline;
}

.info__wrap.info__details .info__row .info__content {
  width: 83%;
}

.info__wrap.info__details .info__row .info__content p {
  white-space: pre-line;
  line-height: 2;
}

.paging__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paging__wrap a {
  font-family: "HirakakuStd-W3", Arial, sans-serif;
  font-size: 1.8rem;
  padding: 7px 0;
  width: 100%;
  border: 2px solid #b1b1b1;
  transition: .1s all ease-in-out;
  display: inline-block;
  text-align: center;
  max-width: 37px;
  margin: 0 8px;
}

.paging__wrap a:hover {
  background: #e18a50;
  border-color: #e18a50;
  color: #fff !important;
}

.paging__wrap ul {
  display: flex;
  align-items: center;
}

.paging__wrap ul li {
  margin: 0 8px;
  width: 37px;
  max-width: 37px;
}

.paging__wrap ul li a {
  margin: 0;
}

.paging__wrap ul li a.active {
  background: #e18a50;
  border-color: #e18a50;
  color: #fff !important;
}

.paging__wrap .btn__prev {
  margin-left: 0;
}

.paging__wrap .btn__next {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .info__wrap {
    padding: 15px 20px;
  }

  .info__wrap .info__row {
    flex-direction: column;
  }

  .info__wrap .info__date {
    width: 100%;
    margin-bottom: 10px;
  }

  .info__wrap.info__list .info__row {
    align-items: flex-start;
  }

  .info__wrap.info__list .info__row .info__content {
    width: 100%;
    margin-bottom: 10px;
  }

  .info__wrap.info__list .info__row .info__link {
    width: 100%;
  }

  .info__wrap.info__list .info__row .info__link a {
    margin-left: 0;
  }

  .paging__wrap a {
    font-size: 1.4rem;
  }

  .paging__wrap ul li {
    margin: 0 5px;
    width: 30px;
  }
}
