.tabs {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.tabs li {
  border: 2px solid #333;
  margin-right: 30px;
  flex: 1 1 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 32px 0;
  max-width: 296px;
}

.tabs li:last-child {
  margin-right: 0;
}

/* ----- Main Image ----- */
#main__img img {
  width: 100%;
  max-width: 100%;
}

#present {
  background-color: #298445;
  padding: 30px 0;
}

.pres__img {
  flex-basis: 30%;
}

.pres__txt {
  flex-basis: 70%;
  text-align: center;
  color: #fff;
  line-height: 2.23;
}

.pres__txt h2 {
  margin-bottom: 20px;
}

/* ----- Section News ----- */
#info {
  padding: 65px 0 80px;
}

.info__list {
  padding: 5px 150px 0;
}

.info__list dl {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  font-size: 1.4rem;
}

.info__list dl dt {
  float: left;
  width: 10%;
  color: #298445;
  margin-right: 40px;
  line-height: 2.3;
}

.info__list dl dd {
  float: left;
  width: 85%;
  line-height: 2.3;
}

.img__list {
  padding: 0 150px;
}

.img__list ul {
  margin-left: calc(10% + 40px);
}

.img__list li {
  margin-right: 30px;
}

.img__list li:last-child {
  margin-right: 0;
}

/* ----- Business Information ----- */
#bus__info {
  background-color: #c3d673;
  padding: 80px 0 65px;
}

.bus__info__inner {
  flex-flow: row wrap;
}

.bus__item {
  background-color: #fff;
  padding: 20px;
  flex-basis: 30%;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;
  transition: .2s all ease-in-out;
}

.bus__item:nth-child(3n) {
  margin-right: 0;
}

.bus__item:hover {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.bus__item .btn {
  margin: 15px 0;
}

.bus__number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6rem;
  font-style: italic;
  color: #298445;
  line-height: 1;
}

.bus__txt {
  line-height: 2;
}

/* ----- Profile + Recruit ----- */
.info__box {
  text-align: center;
  flex-basis: 33.67%;
  min-height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__img {
  flex-basis: 66.33%;
}

#profile h2 {
  margin-bottom: 50px;
}

#profile .info__img {
  background: url(../../images/top_bg01.png) center no-repeat;
  background-size: cover;
}

#recruit h2 {
  margin-bottom: 70px;
}

#recruit .info__img {
  background: url(../../images/top_bg01.png) center no-repeat;
  background-size: cover;
}

/* ----- Page 2 ----- */
.feature__wrap {
  flex-flow: row wrap;
}

.feature__box {
  flex-basis: calc((100% - 40px) / 3);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f0f3f5;
  padding: 70px 5px 50px;
}

.feature__box:nth-child(3n) {
  margin-right: 0;
}

.feature__box span {
  font-size: 9.4rem;
  font-weight: 600;
}

.feature__box h3 {
  margin-bottom: 20px;
}

.feature__box .feature__txt {
  max-width: 250px;
}

/* ----- Page 3-7 ----- */
.title__box {
  flex-basis: 48%;
  margin-right: 40px;
}

.title__box:nth-child(2n) {
  margin-right: 0;
}

.title__box img {
  margin-bottom: 15px;
}

.title__box h3 {
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 90px;
}

.comment > .row {
  margin-bottom: 60px;
}

.comment__txt h4 {
  font-size: 3rem;
  line-height: 1.7;
  margin-bottom: 15px;
}

.comment__txt p {
  font-size: 1.3rem;
  line-height: 2.4;
}

.comment__txt .comment__author {
  font-weight: 600;
  text-align: right;
}

.box__user {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
}

.box__user.large {
  align-items: center;
}

.box__user.large .comment__img,
  .box__user.large .comment__txt {
  flex-basis: 50%;
}

.box__txt {
  margin-top: 30px;
}

.box__txt h4 {
  font-size: 3rem;
  line-height: 1.7;
  margin-bottom: 15px;
}

.box__txt p {
  font-size: 1.3rem;
  line-height: 2.4;
}

/* ----- Page 8 ----- */
#message {
  margin-top: 100px;
  padding: 0 95px;
}

.mess__txt {
  flex-basis: 70%;
  margin-right: 60px;
}

.mess__txt h3 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.mess__txt p {
  font-size: 1.4rem;
  line-height: 2.4;
}

.mess__txt .mess__author {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: right;
  line-height: 1.8;
  display: block;
}

.mess__img {
  flex-basis: 30%;
}

#overview {
  padding: 0 225px;
}

#overview table tr,
  #overview table td {
  border-bottom: none;
}

#overview table td:first-child {
  border-right: 3px solid #333;
  font-weight: 600;
  width: 30%;
}

#overview table td:last-child {
  padding-left: 50px;
}

#timeline {
  padding: 50px 225px;
}

.timeline__main {
  position: relative;
}

.center__line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 30%;
  background: #333;
  z-index: -1;
}

.timeline__content {
  padding: 0 0 60px;
}

.timeline__article {
  position: relative;
  min-height: 60px;
  margin: 25px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline__left {
  width: 30%;
}

.timeline__date {
  position: absolute;
  top: 0;
  left: 30%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  color: #fff;
  background-color: #333;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__date .date {
  text-align: center;
}

/* ----- Page 9 ----- */
.tab__main {
  margin-top: 60px;
}

.tab__main .title__page {
  padding: 0 140px;
}

.tab__main .title__page p {
  padding: 0 160px;
  line-height: 2.1;
}

.box__img {
  flex-basis: 48%;
  margin-right: 40px;
  margin-bottom: 60px;
}

.box__img:nth-child(2n) {
  margin-right: 0;
}

.box__img h3 {
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.box__img_inner {
  display: flex;
}

.box__left {
  margin-right: 15px;
}

.box__right p {
  line-height: 2.1;
  margin-bottom: 25px;
}

table tr {
  border-bottom: 1px solid #333;
}

table tr td {
  border-bottom: 1px solid #cdd6dd;
  padding: 20px 0 25px;
  font-size: 2.4rem;
  font-weight: 500;
}

table tr td:first-child {
  width: 30%;
}

table tr td a {
  color: #2699fb;
  text-decoration: underline;
}

.info__contact {
  margin: 215px 0;
}

.info__left,
.info__right {
  flex-basis: 50%;
  text-align: center;
  border: 1px solid #333;
  background-color: #f0f3f5;
  min-height: 128px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* ----- Page 10 ----- */
.tbl__list {
  padding: 0 95px;
}

/* ----- Page 11 ----- */
.diagram {
  padding: 0 155px;
  flex-flow: row wrap;
}

.diagram__box {
  flex-basis: 46%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.diagram__box:nth-child(2n) {
  margin-right: 0;
}

/* ----- Page 12 ----- */
.comment__itv {
  margin-left: -43px;
  margin-right: -43px;
}

/* ----- Page 14 - 15 ----- */
.form__regis {
  padding: 0 47px;
  font-size: 2rem;
  margin-bottom: 50px;
}

.form__row {
  display: flex;
}

.form__row .col__label,
  .form__row .col__input {
  border: 1px solid #333;
  min-height: 85px;
  display: flex;
  align-items: center;
}

.form__row .col__label {
  width: 25%;
  background-color: #f0f3f5;
  font-weight: 600;
  padding: 0 12px;
}

.form__row .col__label .require {
  color: #ff0000;
  margin-left: 10px;
}

.form__row .col__input {
  width: 75%;
  padding: 0 18px;
}

.form__term {
  padding: 0 47px;
}

.form__term__inner {
  background-color: #f0f3f5;
  padding: 40px 98px;
  margin-bottom: 70px;
}

.form__term__inner p {
  font-size: 1.6rem;
  line-height: 2;
}

.form__term__inner .term__content {
  border: 1px solid #707070;
  background-color: #fff;
  padding: 14px 18px;
  font-size: 1.6rem;
  line-height: 2;
  max-height: 260px;
  overflow-y: scroll;
  margin-bottom: 20px;
  margin-top: 5px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 40px;
  padding-top: 8px;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  background: #fff;
}

[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 12px;
  top: 8px;
  width: 7px;
  height: 12px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

[type="text"] {
  width: 100%;
  font-size: 1.6rem;
  padding: 9px 5px;
}

select {
  width: 160px;
  font-size: 1.6rem;
  line-height: 1;
  padding: 8px 0 11px;
}

textarea {
  width: 100%;
  min-height: 250px;
  resize: none;
}

.col__txtarea {
  padding: 18px 0;
}

@media screen and (max-width: 1360px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .bus__container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .bus__container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .btn {
    min-width: initial;
  }

  .title__page {
    padding: 40px 0 40px;
  }

  .title__page h2 {
    font-size: 3rem;
  }

  .pres__txt h2 {
    margin-bottom: 0;
  }

  .info__list {
    padding: 0;
  }

  .info__list dl dt,
    .info__list dl dd {
    float: none;
    width: 100%;
  }

  .img__list {
    margin-left: 0;
  }

  .bus__info.center {
    padding-top: 40px;
  }

  .bus__item {
    flex-basis: 100%;
    margin-right: 0;
  }

  .info__box {
    min-height: 300px;
  }

  .info__box__inner {
    flex: 1 1 auto;
  }

  .info__box__inner h2 {
    margin-bottom: 30px;
  }

  #message {
    margin-top: 40px;
    padding: 0;
  }

  .mess__txt {
    margin-right: 0;
  }

  #overview {
    padding: 0;
  }

  #timeline {
    padding: 0;
  }

  table tr td {
    font-size: 1.4rem;
    padding: 10px 5px;
  }

  #overview table td:first-child {
    width: 35%;
  }

  #overview table td:last-child {
    padding-left: 25px;
  }

  .center__line {
    left: 35%;
  }

  .timeline__article {
    align-items: normal;
  }

  .timeline__left {
    width: 35%;
    padding-top: 10px;
  }

  .timeline__right {
    width: 45%;
  }

  .timeline__date {
    left: 35%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }

  .header__inner {
    padding: 22px 0 0;
    display: block;
  }

  .nav__logo {
    padding: 0 10px 20px;
    display: flex;
    justify-content: space-between;
  }

  .nav__logo h1 img {
    width: auto;
    height: 45px;
  }

  .right__box {
    width: 50px;
  }

  .right__box span {
    display: block;
    height: 3px;
    width: 100%;
    background: #333;
    margin-bottom: 18px;
  }

  .right__box span:last-child {
    margin-bottom: 0;
  }

  .gnav {
    display: block;
  }

  .ft__info {
    flex-flow: column wrap;
  }

  .ft__info--left {
    margin-bottom: 30px;
  }

  .ft__info--right {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 450px) {
  .title__page h2 {
    font-size: 2.5rem;
  }

  .tabs {
    margin-top: 40px;
  }

  .tabs li {
    font-size: 1.8rem;
    padding: 20px 5px;
    margin-right: 10px;
  }
}
