.tabs {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.tabs li {
  border: 2px solid #333;
  margin-right: 30px;
  flex: 1 1 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 32px 0;
  max-width: 296px;
}

.tabs li:last-child {
  margin-right: 0;
}

/* ----- Main Image ----- */
#mainimage img {
  width: 100%;
  max-width: 100%;
}

/* ----- Section 1 ----- */
#sec_1 {
  background: url(/images/bg_top01.png) center top no-repeat;
  background-size: cover;
  padding: 80px 0;
}

#sec_1 .news__list {
  margin-bottom: 80px;
}

.intro {
  margin-top: 80px;
  margin-bottom: 80px;
}

.intro__left {
  background: url(/images/bg_trans01.png) center no-repeat;
  background-size: cover;
  margin-right: 66px;
}

.intro__left > div {
  display: inline-block;
}

.intro__left .txt__sml {
  font-size: 1.6rem;
  line-height: 2;
  margin-right: 15px;
}

.banner1 img,
.banner2 img {
  margin: 0 auto;
  width: 100%;
}

.banner1 img {
  max-width: 640px;
}

.banner2 img {
  max-width: 960px;
}

.banner1 a,
.banner2 a {
  display: inline-block;
}

/* ----- Section 2 ----- */
#sec_2 a {
  display: block;
  transition: .2s all ease;
}

#sec_2 a:hover {
  -webkit-box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
  opacity: .9;
}

.feature_1 {
  background: url(/images/bg_top02.png) center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.feature_1 .feature__box {
  margin-left: auto;
  margin-right: 0;
}

.feature_2 {
  background: url(/images/bg_top03.png) center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.feature_2 .feature__box {
  margin-left: 0;
  margin-right: auto;
}

.feature_3 {
  background: url(/images/bg_top04.png) center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.feature_3 .feature__box {
  margin-left: auto;
  margin-right: 0;
}

.feature_4 {
  background: url(/images/bg_top05.png) center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.feature_4 .feature__box {
  margin-left: 0;
  margin-right: auto;
}

.feature_5 {
  background: url(/images/bg_top06.png) center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.feature_5 .feature__box {
  margin-left: auto;
  margin-right: 0;
}

.feature_6 {
  background: url(/images/bg_top07.png) center no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.feature_6 .feature__box {
  margin-left: 0;
  margin-right: auto;
}

.feature__box {
  max-width: 400px;
}

.feature__box img {
  width: 100%;
}

/* ----- Section 3 ----- */
#sec_3 {
  background: url(/images/bg_top08.png) center top no-repeat;
  background-size: cover;
  padding: 80px 0 200px;
}

/* ----- Media Queries ----- */
@media screen and (max-width: 767px) {
  /* ----- Section 1 ----- */
  .intro {
    margin-bottom: 70px;
  }

  .intro > .row__mid {
    align-items: initial;
    margin-bottom: 50px;
  }

  .intro__left {
    margin-right: 0;
    width: 45%;
    flex-basis: auto;
  }

  .intro__left > div {
    display: block;
  }

  .intro__right {
    width: 55%;
    flex-basis: auto;
  }

  .intro__right img {
    width: 100%;
  }

  .intro .txt__sml {
    font-size: 2.8rem;
    line-height: 1.7;
  }

  .intro .txt__sml p {
    font-family: "Hannari", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .img__txt {
    flex-basis: 100%;
  }

  .img__txt img {
    width: 100%;
    margin: 0 auto;
  }

  .banner1 img,
  .banner2 img {
    max-width: 670px;
  }
  /* ----- Section 2 ----- */
  .feature_1 {
    background: url(/images/bg_top02_sp.jpg) center no-repeat;
    background-size: cover;
    padding: 0;
  }

  .feature_1 .container {
    padding: 0 !important;
  }

  .feature_2 {
    background: url(/images/bg_top03_sp.jpg) center no-repeat;
    background-size: cover;
    padding: 0;
  }

  .feature_2 .container {
    padding: 0 !important;
  }

  .feature_3 {
    background: url(/images/bg_top04_sp.jpg) center no-repeat;
    background-size: cover;
    padding: 0;
  }

  .feature_3 .container {
    padding: 0 !important;
  }

  .feature_4 {
    background: url(/images/bg_top05_sp.jpg) center no-repeat;
    background-size: cover;
    padding: 0;
  }

  .feature_4 .container {
    padding: 0 !important;
  }

  .feature_5 {
    background: url(/images/bg_top06_sp.jpg) center no-repeat;
    background-size: cover;
    padding: 0;
  }

  .feature_5 .container {
    padding: 0 !important;
  }

  .feature_6 {
    background: url(/images/bg_top07_sp.jpg) center no-repeat;
    background-size: cover;
    padding: 0;
  }

  .feature_6 .container {
    padding: 0 !important;
  }

  .feature_2 .feature__box,
  .feature_6 .feature__box {
    margin-left: auto;
    margin-right: 0;
  }

  .feature_5 .feature__box {
    margin-left: 0;
    margin-right: auto;
  }

  .feature__box {
    max-width: 330px;
  }
  /* ----- Section 3 ----- */
  #sec_3 {
    padding: 65px 0 80px;
  }
}

@media screen and (max-width: 600px) {
  #sec_1 {
    padding: 40px 0;
  }

  .intro {
    margin-bottom: 40px;
  }

  .intro > .row__mid {
    margin-bottom: 40px;
  }

  .intro .txt__sml {
    font-size: 2.3rem;
  }

  .feature__box {
    max-width: 280px;
  }

  #sec_3 {
    padding: 40px 0 50px;
  }
}

@media screen and (max-width: 450px) {
  .intro .txt__sml {
    font-size: 1.5rem;
  }

  .feature__box {
    max-width: 180px;
  }
}

.content__box {
  margin-bottom: 60px;
}

.content__box p {
  font-size: 1.5rem;
  line-height: 1.7;
}

.content__box .col_img {
  position: relative;
  margin-bottom: 20px;
}

.content__box .col_txt img {
  max-width: 281px;
  max-height: 600px;
}

.content__box .col_txt span {
  margin-bottom: 15px;
}

.content__box .col_sub {
  display: flex;
  align-items: center;
}

.content__box .col_sub div p {
  line-height: 2.2;
}

.content__box .box__item span {
  margin-bottom: 15px;
}

.box__title {
  margin-bottom: 20px;
}

.box__title h3 {
  font-size: 2.4rem;
  color: #fff;
  background: #527c68;
  text-align: center;
  padding: 22px 5px 30px;
}

.box__title .box__wrap {
  background: #fff;
  padding: 30px 30px 30px 30px;
}

.box__title .box__wrap .box_left,
    .box__title .box__wrap .box_right {
  width: 49.16%;
}

.box__title p {
  font-size: 1.5rem;
  line-height: 2.4;
}

.box__title .item__step {
  margin-bottom: 35px;
}

.box__title .item__step:last-child {
  margin-bottom: 0;
}

.box__title .item__step h4 {
  font-size: 2.4rem;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.box__title .item__step h4 span {
  display: inline-block;
  color: #fff;
  background: #e18a50;
  padding: 0 15px 7px;
  margin-right: 10px;
  border-radius: 15px;
}

.box__title .box_right div {
  margin-bottom: 20px;
}

.box__title .box_right div:last-child {
  margin-bottom: 0;
}

.mac-os .box__title h3 {
  padding: 26px 5px;
}

.mac-os .box__title .item__step h4 span {
  padding: 3px 15px 4px;
}

@media screen and (max-width: 767px) {
  .content__box {
    margin-bottom: 0;
  }

  .content__box p {
    font-size: 2.8rem;
  }

  .content__box .row > div {
    order: 2;
  }

  .content__box .row > .col_txt {
    order: 1;
  }

  .content__box .row > .col_img.col-5 {
    order: 1;
  }

  .content__box .col_txt {
    margin-bottom: 20px;
  }

  .content__box .col_txt img {
    max-width: none;
  }

  .content__box .col_txt.col-5 {
    margin-bottom: 50px;
  }

  .content__box .col_sub {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .content__box .col_sub span {
    margin-bottom: 15px;
  }

  .content__box .box__item {
    margin-bottom: 35px;
  }

  .box__title h3 {
    font-size: 2.8rem;
  }

  .box__title .box__wrap {
    padding: 15px;
  }

  .box__title .box__wrap .box_left,
    .box__title .box__wrap .box_right {
    width: 100%;
  }

  .box__title .item {
    margin-bottom: 30px;
  }

  .box__title .item:last-child {
    margin-bottom: 10px;
  }

  .box__title p {
    font-size: 2.4rem;
    line-height: 2;
  }

  .box__title .item__step h4 {
    font-size: 2.8rem;
  }

  .box__title .item__step:last-child {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 600px) {
  .content__box p {
    font-size: 2rem;
  }

  .box__title h3 {
    font-size: 2.6rem;
    padding: 16px 5px 24px;
  }

  .box__title p {
    font-size: 2rem;
  }

  .box__title .item__step h4 {
    font-size: 2.2rem;
  }

  .ios .box__title h3 {
    padding: 20px 5px;
  }

  .ios .box__title .item__step h4 span {
    padding: 3px 15px 4px;
  }
}

@media screen and (max-width: 450px) {
  .content__box p {
    font-size: 1.6rem;
  }

  .content__box .box__item {
    margin-bottom: 25px;
  }

  .box__title h3 {
    font-size: 2rem;
  }

  .box__title p {
    font-size: 1.6rem;
  }

  .box__title .item__step h4 {
    font-size: 1.8rem;
  }
}

h2.heading_style_1 {
  padding: 25px 10px;
  background: #527c68;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  line-height: 1;
  font-weight: normal;
}

h2.heading_style_2 {
  padding: 0 10px 10px;
  font-size: 36px;
  color: #333333;
  text-align: center;
  line-height: 1;
  font-weight: normal;
  border-bottom: 1px solid #333333;
  margin-bottom: 40px;
}

.list__wrapper {
  padding: 30px;
  background: #fff;
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 60px;
}

.food__info {
  font-size: 1.5rem;
  line-height: 1.7;
}

.food__info__2 {
  font-size: 2rem;
  line-height: 1.7;
}

.food__introduce {
  margin: 30px 0 60px;
}

.food__button {
  margin-bottom: 60px;
}

.food__button .btn__list li {
  width: 30%;
  flex-basis: 30%;
  max-width: unset;
  margin: 0;
}

.food__button .btn__list li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.food__list {
  padding-bottom: 0;
}

.food__menu {
  font-size: 1.5rem;
  line-height: 1.7;
  width: 100%;
  margin-bottom: 30px;
}

.food__item {
  margin-bottom: 30px;
}

.food__item img {
  margin-bottom: 10px;
}

.food__item h3 {
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  padding-left: 20px;
  position: relative;
}

.food__item h3:before {
  display: block;
  position: absolute;
  content: '';
  width: 10px;
  height: 20px;
  top: 10px;
  left: 0;
  background: #527c68;
}

.food__item .price {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.food__item .description {
  font-size: 16px;
}

.food__box .col_img {
  width: 65%;
  margin-bottom: 0;
}

.food__box .col_txt {
  width: 30%;
}

.food__box .col_txt .text__orange {
  color: #e18a50;
}

.food__box .col_txt .text__green {
  color: #527c68;
}

.food__box .col_txt h2 {
  font-size: 36px;
  font-weight: normal;
}

.food__box .col_txt h2.text__green {
  margin-bottom: 20px;
}

.food__box .col_txt .information {
  padding-bottom: 20px;
  border-bottom: 1px solid #808080;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.7;
}

.food__box .col_txt .label {
  font-size: 16px;
  background: #527c68;
  padding: 4px 6px 8px;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 1;
}

.food__introduce__menu {
  padding: 30px;
  background: #fff;
}

.food__introduce__menu__image {
  width: 49%;
  margin-bottom: 30px;
}

.food__introduce__menu__text {
  margin-top: 10px;
}

.food__introduce__menu__text .menu__text__item {
  width: 45%;
}

.food__introduce__menu__text p {
  width: 100%;
}

.food__introduce__menu__text .btn_style3 {
  margin-bottom: 0;
  padding: 15px 15px 20px;
}

.food__introduce__menu__text .btn_style3:before {
  top: 38%;
  right: 13px;
  bottom: auto;
  left: auto;
}

.food__introduce__menu__text .btn_style3:after {
  top: 48%;
  right: 20px;
  bottom: auto;
  left: auto;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #e18a50;
}

.food__introduce__menu__text .food__info {
  font-size: 1.4rem;
}

.food__introduce__menu__text .food__info__2 {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  h2.heading_style_2 {
    margin-bottom: 20px;
  }

  .food__introduce .food__introduce__item {
    width: 48%;
    flex-basis: 48%;
  }

  .food__button .btn__list li {
    width: 100%;
    flex-basis: 100%;
  }

  .food__button .btn_style3 {
    padding: 10px;
  }

  .food__button .btn_style3:before {
    top: 41%;
    right: 13px;
    bottom: auto;
    left: auto;
  }

  .food__button .btn_style3:after {
    top: 50%;
    right: 25px;
    bottom: auto;
    left: auto;
  }

  .food__item {
    width: 100%;
  }

  .food__introduce__menu__image {
    width: 100%;
  }

  .food__introduce__menu__text {
    margin-top: 10px;
  }

  .food__introduce__menu__text .menu__text__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .food__introduce__menu__text .menu__text__item:last-child {
    margin-bottom: 0;
  }

  .food__box .col_img {
    width: 100%;
    margin-bottom: 20px;
  }

  .food__box .col_txt {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .food__introduce .food__introduce__item {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .food__introduce .food__introduce__item:last-child {
    margin-bottom: 0;
  }
}
