* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Meiryo', Arial, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.2;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;

  &:hover,
  &:hover img {
    opacity: .8;
  }
}

img {
  display: block;
}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row__center {
  justify-content: center;
}

.row__mid {
  align-items: center;
}

.center {
  text-align: center;
}

.mg__bt0 {
  margin-bottom: 0 !important;
}