@font-face {
  font-family: 'Hannari';
  src: url(../fonts/Hannari.otf);
}

@font-face {
  font-family: 'KozukaGothicPrN-R';
  src: url(../fonts/KozukaGothicPrN-R.otf);
}

@font-face {
  font-family: 'HirakakuStd-W3';
  src: url(../fonts/HirakakuStd-W3.otf);
}

@font-face {
  font-family: 'HirakakuStd-W6';
  src: url(../fonts/HirakakuStd-W6.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #333;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-base;
  font-weight: normal;
}

p {
  font-family: $font-family-alt;
  letter-spacing: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: $orange !important;
  }

  &:hover img {
    opacity: .8;
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;

  td {
    font-family: $font-family-alt;
  }
}

main {
  background-color: #e2ded4;

  .container {
    background: url(/images/bg_body.jpg) bottom center no-repeat;
    background-size: cover;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.mg-bt-img {
  margin-bottom: 0 !important;
}

.pd-bt {
  padding-bottom: 165px;
}

.pd-bt60 {
  padding-bottom: 60px;
}

.pd-bt65 {
  padding-bottom: 65px;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  main {
    padding: 80px 0 0;
  }

  .mg-bt-img {
    margin-bottom: 30px !important;
  }

  .pd-bt {
    padding-bottom: 80px;
  }
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.bg_white {
  background: $white;
}

.mw_370 img {
  max-width: 370px !important;
}
