@font-face {
  font-family: 'Hannari';
  src: url(../fonts/Hannari.otf);
}

@font-face {
  font-family: 'KozukaGothicPrN-R';
  src: url(../fonts/KozukaGothicPrN-R.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #333;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: $orange !important;
  }

  &:hover img {
    opacity: .8;
  }
}

img {
  display: inline-block;
  vertical-align: middle;
}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.center {
  text-align: center;
}

.mg__bt0 {
  margin-bottom: 0 !important;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}
