@import "mixins/custom-mixins";

$btn_trans: 0.1s all ease-in; // button transition
$btn_fs: 1.4rem; // button font-size
$btn_lh: 1.2; // button line-height
$btn_pd: 12px 0; // button padding top, bottom
$btn_ls: 0.1em; // button letter-spacing

%btn {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
  text-align: center;
  @include transition(.1s, ease-in-out);
}

.btn_round {
  @extend %btn;
  background-color: $orange;
  color: $white;
  font-size: 2.2rem;
  line-height: $btn_lh;
  padding: 21px 10px 27px;
  letter-spacing: $btn_ls;
  position: relative;
  max-width: 600px;
  margin-bottom: 80px;
  @include box-shadow(3px, 3px, 10px, 0px, rgba(0, 0, 0, .5));
  @include border-radius(10px);

  &:before {
    @include pseudo;
    @include abs-pos(50%, 28.5%);
    @include size(20px, 20px);
    @include border-radius(50%);
    @include translate(0, -50%);
    background-color: $white;
  }

  &:after {
    @include pseudo;
    @include abs-pos(50%, 29.5%);
    @include size(0, 0);
    @include triangle-right(4px, 6px, $orange);
    @include translate(0, -50%);
  }

  &:hover {
    color: $white !important;
    opacity: .9;
  }

  &.small {
    font-family: $font-family-base;
    font-size: 2.2rem;
    letter-spacing: .2em;
    padding: 4px 10px 10px;
    box-shadow: none;
    @include border-radius(15px);

    &:before {
      @include abs-pos(50%, 12.5%);
    }

    &:after {
      @include abs-pos(50%, 14.6%);
    }
  }
}

.btn_style1 {
  @extend %btn;
  background: $orange;
  color: $white;
  font-size: 1.8rem;
  padding: 11px 10px 18px;

  &:hover {
    color: $white !important;
    opacity: .9;
  }
}

.btn_style2 {
  @extend %btn;
  color: $white;
  font-size: 1.8rem;
  border: 2px solid $white;
  padding: 9px 10px 16px;

  &:hover {
    background: $white;
    color: $green !important;
  }
}

.btn_style3 {
  @extend %btn;
  background: $orange;
  color: $white;
  font-size: 2.4rem;
  position: relative;
  padding: 6px 5px 38px 5px;
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 0;
  @include box-shadow(3px, 3px, 10px, 0px, rgba(0, 0, 0, .5));
  @include border-radius(10px);

  &:before {
    @include pseudo;
    @include abs-pos($bottom: 9px, $left: 50%);
    @include size(20px, 20px);
    @include border-radius(50%);
    @include translate(-50%, 0);
    background-color: $white;
  }

  &:after {
    @include pseudo;
    @include abs-pos($bottom: 15px, $left: 50%);
    @include size(0, 0);
    @include triangle-bottom(4px, 6px, $orange);
    @include translate(-50%, 0);
  }

  &:hover {
    color: $white !important;
    opacity: .9;
  }
}

.btn_style4 {
  @extend %btn;
  background: $green;
  color: $white;
  font-family: $font-family-base;
  font-size: 1.6rem;
  padding: 7px 5px 14px;
  margin-bottom: 0;
  max-width: 150px;
  @include border-radius(5px);

  span {
    position: relative;
    display: inline-block;
    padding-right: 20px;

    &:before {
      @include pseudo;
      @include abs-pos(4px, 0);
      @include size(17px, 17px);
      @include border-radius(50%);
      background-color: $white;
    }

    &:after {
      @include pseudo;
      @include abs-pos(8px, 5px);
      @include size(0, 0);
      @include triangle-right(4px, 6px, $green);
    }
  }

  &:hover {
    color: $white !important;
    opacity: .9;
  }
}

.mac-os {
  .btn_round {
    padding: 24px 10px 26px;

    &.small {
      padding: 6px 10px 8px;
    }
  }

  .btn_style1 {
    padding: 14px 10px 15px;
  }

  .btn_style2 {
    padding: 12px 10px 13px;
  }
}

@media screen and (max-width: 767px) {
  .btn_round {
    &:before {
      @include abs-pos(50%, 26.5%);
    }

    &:after {
      @include abs-pos(50%, 27.5%);
    }

    &.small {
      &:before {
        @include abs-pos(50%, 26.5%);
      }

      &:after {
        @include abs-pos(50%, 27.6%);
      }
    }
  }

  .ios .btn_round {
    padding: 24px 10px 26px;

    &.small {
      padding: 6px 10px 8px;
    }
  }
}

@media screen and (max-width: 600px) {
  .btn_round {
    font-size: 2rem;
    margin-bottom: 40px;
    padding: 12px 10px 18px;

    &:before {
      @include abs-pos(50%, 20.5%);
    }

    &:after {
      @include abs-pos(50%, 22%);
    }

    &.small {
      &:before {
        @include abs-pos(50%, 20.5%);
      }

      &:after {
        @include abs-pos(50%, 22%);
      }
    }
  }

  .btn_style3 {
    font-size: 1.8rem;
    letter-spacing: 0;
  }

  .ios .btn_round {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 450px) {
  .btn_round {
    font-size: 1.8rem;

    &:before {
      @include abs-pos(50%, 16.5%);
      @include size(18px, 18px);
    }

    &:after {
      @include abs-pos(50%, 18%);
    }

    &.small {
      &:before {
        @include abs-pos(50%, 16.5%);
      }

      &:after {
        @include abs-pos(50%, 18%);
      }
    }
  }

  .btn_style3 {
    font-size: 1.4rem;
  }
}
