@import "mixins/custom-mixins";

/* ----- Footer Top page ----- */

.home footer {
  background-color: $green;
  color: $white;
}

.ft__top {
  background-color: $white;
  padding: 10px 0;
  color: #333;
}

.ft__logo {
  img {
    height: 73px;
    margin-right: 10px;
  }

  p:first-child {
    margin-right: 10px;
  }
}

.ft__bot {
  padding: 100px 0 10px;
}

.ft__info {}

.ft__address {
  margin-bottom: 50px;

  p {
    font-size: 1.4rem;
    margin-bottom: 5px;
    letter-spacing: .15em;
  }

  p:nth-child(2) {
    font-size: 2.8rem;
    margin-bottom: 18px;
  }
}

.ft__menu {

  ul {
    display: flex;
    margin-bottom: 70px;

    li {
      font-size: 1.2rem;
      margin-right: 20px;
      min-width: 115px;

      ul {
        margin-top: 10px;
        margin-bottom: 0;
      }

      a {
        color: $white;
      }
    }
  }
}

.ft__contact {
  min-width: 245px;
}

.box__contact {
  border: 2px solid $white;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  @include border-radius(8px);
}

.ft__copyright {
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
  margin-top: 80px;
}

/* ----- Footer Child page ----- */

.ft__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 23px;

  .ft__logo {
    background: none;
  }
}

.ft__nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    padding: 0 15px;

    a {
      border-bottom: 1px solid $white;
    }

    &:hover a {
      border-bottom: 1px solid $green;
    }
  }
}

.btn_toppage {
  position: relative;

  img {
    position: absolute;
    right: 0;
    bottom: -180px;
  }
}
