@import "mixins/custom-mixins";

/* ----- Footer Top page ----- */

.top footer {
  background-color: $green;
  margin-top: 170px;
  color: $white;
}

.ft__logo {
  background-color: #f9f9f9;
  padding: 22px 0 23px;

  img {
    margin: 0 auto;
  }
}

.ft__info {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 70px;
}

.ft__info--right {
  display: flex;
}

.ft__menu {
  margin-right: 20px;
  min-width: 100px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  li {
    padding-bottom: 10px;
  }

  a {
    color: $white;
    font-size: 1.2rem;
  }
}

.ft__contact {
  min-width: 245px;
}

.box__contact {
  border: 2px solid $white;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  @include border-radius(8px);
}

.ft__copyright {
  text-align: center;
  padding: 10px 0;
}

/* ----- Footer Child page ----- */

.ft__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 23px;

  .ft__logo {
    background: none;
  }
}

.ft__nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    padding: 0 15px;

    a {
      border-bottom: 1px solid $white;
    }

    &:hover a {
      border-bottom: 1px solid $green;
    }
  }
}
