@import "mixins/custom-mixins";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  z-index: 10;
  transition: .2s all ease-in-out;
}

.header__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 14px;
}

.gnav {
  display: flex;
  align-items: center;
}

.nav__pc {
  > ul {
    display: flex;
  }

  li {
    position: relative;
    padding-right: 15px;

    &:hover {

      a,
      span {
        color: $orange;
      }
    }
  }

  a,
  span {
    padding: 2px 0;
    *zoom: 1;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    color: #333;
  }

  a.active {
    color: $orange;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      border-bottom: 1px solid $orange;
      width: 100%;
    }
  }
}

.nav__logo {
  margin-right: 15px;

  a {
    display: block;
  }

  img {
    height: 48px;
    width: auto;
  }
}

.nav__btn {
  img {
    width: 73px;
    height: auto;
  }
}

.img_show {
  display: inline-block;
}

.img_hide {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    min-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__inner {
    display: block;
    padding: 0;
  }

  .nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;

    h1 {
      padding-left: 20px;
    }
  }

  .nav__btn {
    display: flex;

    img {
      height: 80px;
      width: auto;
    }
  }

  .gnav {
    display: block;
  }

  .menu__title {
    font-size: 4rem;
    line-height: 1;
    color: $white;
    background: $green;
    text-align: center;
    padding: 15px 0 25px;
  }

  .mac-os .menu__title,
  .ios .menu__title {
    padding: 20px 0;
  }

  .nav {
    background: $white;

    ul {
      padding: 0 20px;
      overflow-y: scroll;
      z-index: 100;
      -webkit-overflow-scrolling: touch;

      &.sub {
        padding: 0;
        max-height: initial;
        overflow-y: auto;
      }
    }

    li {
      position: relative;

      a,
      span {
        border-bottom: 1px solid #BCBCBC;
        display: block;
        font-size: 2.6rem;
        padding: 20px 15px 28px;
      }

      span:before,
      span:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background: $green;
        transition: .2s all ease-in-out;
      }

      span:before {
        top: 25px;
        right: 25px;
        transform: rotate(90deg);
      }

      span:after {
        top: 25px;
        right: 25px;
      }

      &.hover ul {
        position: static;
        left: 0;
      }

      &.hover span:after {
        transform: rotate(90deg);
        transition: .2s all ease-in-out;
      }

      &.hover span:before {
        transform: rotate(270deg);
        transition: .2s all ease-in-out;
      }
    }
  }

  .nav li.has_sub span {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    padding: 0;
  }

  .nav li.has_sub a {
    width: calc(100% - 80px);
  }

  .nav li.has_sub li a {
    width: 100%;
  }

  /* ----- sub lists ----- */

  .sub {
    position: absolute;
    left: -9999px;
    z-index: 100;

    li {
      padding: 0;

      a {
        display: block;
        position: relative;
        z-index: 100;
        padding-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav__logo {
    h1 {
      img {
        height: 40px;
        width: auto;
      }
    }
  }

  .nav__btn {
    img {
      height: 60px;
      width: auto;
    }
  }

  .menu__title {
    font-size: 3rem;
    padding: 8px 0 17px;
  }

  .mac-os .menu__title,
  .ios .menu__title {
    padding: 12px 0 13px;
  }

  .nav {
    li {

      a,
      span {
        font-size: 2.1rem;
        padding: 14px 15px 20px;
      }

      span:before,
      span:after {
        top: 20px;
      }
    }
  }

  .sub li a {
    padding-left: 30px;
  }

  .nav li.has_sub span {
    width: 60px;
    height: 60px;
  }

  .nav li.has_sub a {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 340px) {
  .nav__logo {
    h1 {
      padding-left: 0;
    }
  }
}
