@import "mixins/custom-mixins";

$title_fs: 3.6rem;
$title_color: $green;
$title_ls: 0;
$title_lh: 1.2;

$sub_fs: 2rem;

.title {
  text-align: center;
  display: inline-block;
  margin-bottom: 45px;

  p {
    font-family: $font-family-base;
  }

  span {
    font-size: $sub_fs;
    color: #333;
    letter-spacing: 0;
    display: inline-block;
    padding-top: 10px;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200%;
      background: #333;
      top: 25px;
    }

    &:before {
      right: 100%;
      margin-right: 20px;
    }

    &:after {
      left: 100%;
      margin-left: 20px;
    }
  }

  h2 {
    font-size: $title_fs;
    font-weight: normal;
    color: $green;
    letter-spacing: 0;
    position: relative;
    display: inline-block;
    margin: 0 25px;

    &:after {
      content: '';
      position: absolute;
    }

    &.ic_info {
      padding-right: 55px;

      &:after {
        top: 4px;
        right: 0;
        background: url(/images/ic_02.svg) center no-repeat;
        width: 43px;
        height: 38px;
      }
    }

    &.ic_flower {
      padding-right: 50px;

      &:after {
        top: 8px;
        right: 0px;
        background: url(/images/ic_03.svg) center no-repeat;
        width: 33px;
        height: 38px;
      }

      + p span:before,
      + p span:after {
        width: 100%;
      }
    }
  }
}

.mac-os {
  .title {
    span {
      word-spacing: -10px;
    }
  }
}

h4 {
  &.style1 {
    font-family: $font-family-alt-2;
    font-size: 1.8rem;
    color: $green;
    border-bottom: 1px solid #B1B1B1;
    padding-bottom: 17px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    h2 {
      padding-right: 50px;

      &:after {
        top: 14px;
        width: 38px;
        height: 33px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    margin-bottom: 30px;

    h2 {
      font-size: 3.1rem;
      padding-right: 35px;
      margin: 0;

      &:after {
        top: 10px;
        width: 33px;
        height: 28px;
      }

      &.ic_flower {
        padding-right: 40px;

        &:after {
          top: 10px;
          width: 28px;
          height: 33px;
        }

        + p span:before,
        + p span:after {
          width: 50%;
        }
      }
    }

    span {

      &:before,
      &:after {
        width: 140%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .title {
    h2 {
      font-size: 2.3rem;

      &:after {
        top: 5px;
        width: 28px;
        height: 23px;
      }

      &.ic_flower {
        padding-right: 30px;

        &:after {
          top: 2px;
          width: 23px;
          height: 28px;
        }

        + p span:before,
        + p span:after {
          width: 40%;
        }
      }
    }

    span {

      &:before,
      &:after {
        width: 60%;
      }
    }
  }
}
