@import "mixins/custom-mixins";

$title_fs: 3.6rem;
$title_color: $green;
$title_ls: 0;
$title_lh: 1.2;

$sub_fs: 2rem;

.title {
  text-align: center;
  display: inline-block;
  margin-bottom: 45px;

  h2 {
    font-size: $title_fs;
    font-weight: normal;
    color: $green;
    letter-spacing: 0;
    position: relative;
    padding-right: 55px;
    display: inline-block;
    margin: 0 25px;
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      background: url(/images/ic_02.svg) center no-repeat;
      width: 43px;
      height: 38px;
    }
  }

  span {
    font-size: $sub_fs;
    color: #333;
    letter-spacing: 0;
    display: block;
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      border-top: 2px solid #333;
      margin-right: 20px;
      flex: 1 0 20px;
    }
    &:after {
      content: '';
      border-top: 2px solid #333;
      margin-left: 20px;
      flex: 1 0 20px;
    }
  }
}

.news__list {
  background: rgba(255, 255, 255, .9);
  margin: 0 120px 100px;

  dl {
    padding: 31px 180px;
    width: 100%;

    dt {
      float: left;
      width: 15%;
      margin-right: 10%;
    }

    dd {
      float: left;
      width: 75%;
      letter-spacing: 0;
    }
  }
}

.social__list {
  display: flex;
  justify-content: flex-end;

  li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 36px;
    }
  }
}
