@import "variables";
@import "mixins/custom-mixins";

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 90px;

  li {
    border: 2px solid #333;
    margin-right: 30px;
    flex: 1 1 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 32px 0;
    max-width: 296px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* ----- Main Image ----- */

#mainimage img {
  width: 100%;
  max-width: 100%;
}

/* ----- Section 1 ----- */

#sec_1 {
  background: url(/images/bg_top01.png) center top no-repeat;
  background-size: cover;
  padding: 80px 0;
}

#sec_1 .news__list {
  margin-bottom: 80px;
}

.intro {
  margin-top: 80px;
  margin-bottom: 80px;
}

.intro__left {
  background: url(/images/bg_trans01.png) center no-repeat;
  background-size: cover;
  margin-right: 66px;

  > div {
    display: inline-block;
  }

  .txt__sml {
    font-size: 1.6rem;
    line-height: 2;
    margin-right: 15px;
  }
}

.banner1 img,
.banner2 img {
  margin: 0 auto;
  width: 100%;
}

.banner1 img {
  max-width: 640px;
}

.banner2 img {
  max-width: 960px;
}

/* ----- Section 2 ----- */

@include background;

.feature__row {}

.feature__box {
  background: url(/images/bg_trans02.png) center no-repeat;
  background-size: cover;
  max-width: 400px;
  padding: 9px;
}

.feature__wrap {
  border: 2px solid $white;
  padding: 45px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.feature__txt {
  color: $white;
  text-align: center;
  align-self: stretch;

  .txt__top {
    font-size: 2.2rem;
    line-height: 2;
    margin-bottom: 5px;
    padding-top: 60px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 33px;
      height: 38px;
      background: url(/images/ic_01.svg) center no-repeat;
    }
  }

  .txt__bot {
    font-size: 3.6rem;
    margin-top: 4px;
    margin-bottom: 105px;
    letter-spacing: 0;
  }
}

.txt__under {
  font-size: 1.4rem;
  color: $white;
}

/* ----- Section 3 ----- */

#sec_3 {
  background: url(/images/bg_top08.png) center top no-repeat;
  background-size: cover;
  padding: 80px 0 200px;
}

/* ----- Media Queries ----- */

@media screen and (max-width: 767px) {

  /* ----- Section 1 ----- */
  .intro {
    margin-bottom: 70px;

    > .row__mid {
      align-items: initial;
      margin-bottom: 50px;
    }

    &__left {
      margin-right: 0;
      width: 45%;
      flex-basis: auto;

      > div {
        display: block;
      }
    }

    &__right {
      width: 55%;
      flex-basis: auto;

      img {
        width: 100%;
      }
    }

    .txt__sml {
      font-size: 2.8rem;
      line-height: 1.7;
    }
  }

  .img__txt {
    flex-basis: 100%;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  .banner1 img,
  .banner2 img {
    max-width: 670px;
  }

  /* ----- Section 2 ----- */
  @include background_sp;

  .feature_2 .feature__box,
  .feature_6 .feature__box {
    margin-left: auto;
    margin-right: 0;
  }

  .feature_5 .feature__box {
    margin-left: 0;
    margin-right: auto;
  }

  .feature {
    &__box {
      max-width: 330px;
      padding: 6px;
    }

    &__wrap {
      padding: 45px 20px 10px;
    }

    &__txt {
      .txt__top {
        font-size: 1.8rem;
        line-height: 1.4;
        padding-top: 58px;

        &:before {
          width: 27px;
          height: 32px;
        }
      }

      .txt__bot {
        font-size: 3.2rem;
        margin-bottom: 85px;
        letter-spacing: -.05em;
      }
    }
  }

  /* ----- Section 3 ----- */
  #sec_3 {
    padding: 65px 0 80px;
  }
}

@media screen and (max-width: 600px) {
  #sec_1 {
    padding: 40px 0;
  }

  .intro {
    margin-bottom: 40px;

    > .row__mid {
      margin-bottom: 40px;
    }

    .txt__sml {
      font-size: 2.3rem;
    }
  }

  .feature {
    &__box {
      max-width: 280px;
      padding: 5px;
    }

    &__wrap {
      padding: 35px 15px 10px;
    }

    &__txt {
      .txt__top {
        font-size: 1.5rem;
        line-height: 1.4;
        padding-top: 40px;

        &:before {
          width: 27px;
          height: 32px;
        }
      }

      .txt__bot {
        font-size: 2.6rem;
        margin-bottom: 60px;
        letter-spacing: -.05em;
      }
    }
  }

  #sec_3 {
    padding: 40px 0 50px;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    .txt__sml {
      font-size: 2rem;
    }
  }

  .feature {
    &__box {
      max-width: 250px;
      padding: 5px;
    }

    &__wrap {
      padding: 35px 10px 10px;
    }

    &__txt {
      .txt__top {
        font-size: 1.5rem;
        line-height: 1.4;
        padding-top: 45px;
      }

      .txt__bot {
        font-size: 2.6rem;
        margin-bottom: 65px;
        letter-spacing: -.05em;
      }
    }
  }
}
