#room-feel-the-southern-europe p {
  font-family: $font-family-alt-3;
}

#room-feel-the-southern-europe {
  font-size: 16px;

  .pr-3 {
    padding-right: 3rem;
  }

  .mb-3 {
    margin-bottom: 3rem;
  }

  .mb-4 {
    margin-bottom: 4rem;
  }

  .d-flex {
    display: flex;
  }

  .justify-content-center {
    justify-content: center;
  }

  #b1 {
    .col-4 {
      width: 31.7%;
    }
  }

  .b2 .title {
    margin-bottom: 20px;
  }

  .content {
    &__box {
      .box_txt {
        justify-content: center;
      }

      .header {
        background-color: #527C68;
        width: 100%;
        padding: 10px 5px 15px 5px;
        font-size: 28px;
        color: white;
      }

      .description {
        font-size: 18px;
      }

      .check-in-out {
        margin-top: 20px;
        font-size: 24px;

        .check-in {
          margin-right: 20px;
        }

        p {
          display: inline-block;
          font-size: 2.4rem;
        }
      }

      .contact {
        margin-top: 20px;

        &__title {
          text-align: center;
          font-size: 24px;
          padding-top: 12px;
        }

        &__content {
          text-align: center;

          .phone-text {
            font-size: 75px;
            color: #527C68;
            font-weight: 500;
            letter-spacing: 1rem;
            line-height: 70px;
          }
        }

        &__footer {
          text-align: center;
          font-size: 18px;
          padding: 0 0 20px 0;
        }

        img {
          max-width: none !important;
          max-height: none !important;
        }
      }

      .cancle-fee {
        font-family: $font-family-alt-3;
        margin-bottom: 80px;

        &__title {
          text-align: center;
          padding: 12px 0;
          color: #fff;
          font-size: 2rem;
          background-color: #A7A7A7;
        }

        &__content {
          min-height: 110px;
          text-align: center;
          word-break: break-word;
          background-color: #fff;

          div:not(:last-child) {
            border-right: 1px solid #8E8E8E;
          }

          &:nth-child(2) {
            border-bottom: 1px solid #8E8E8E;
          }

          &:last-child {
            background-color: #CDCDCD;
            width: 100%;
          }
        }

        .col-1,
        .col-2 {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .col-1 {
          width: 15%;
          padding: 20px;
        }

        .col-2 {
          width: 20%;
          padding: 20px;
          font-family: $font-family-alt-2;
          font-weight: 600;
        }
      }

      span > span {
        color: #527c68;
      }

      .content-image {
        padding-top: 10px;
        background-color: #fff;
      }
    }
  }
}

.box__img__5 {
  margin-bottom: 50px;

  .box__img__item {
    margin-bottom: 30px;
  }
}

.contact_box {
  margin-bottom: 45px;

  .header {
    margin-bottom: 30px;
  }

  .contact_box_info {
    width: 60.17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact_box_form {
    width: 36.5%;

    h3 {
      font-size: 2.6rem;
      color: $white;
      background: #333;
      text-align: left;
      padding: 1px 20px 7px 75px;
      letter-spacing: -2px;
    }

    #search_con div {
      padding: 10px 75px 20px;
      background: #E5E5E5;
    }

    .bt_search {
      text-align: center;
      margin-bottom: 20px;

      button {
        font-size: 2rem;
      }
    }

    select {
      font-size: 1.4rem;
      border-radius: 5px;
      padding: 1px;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.2;
      margin-bottom: 12px;
      font-family: $font-family-base !important;
      letter-spacing: -1px;
      font-weight: 600;
    }
  }
}

.box__column__2 {
  .col-6 {
    width: 48.5416667%;
  }

  .introduce {
    margin-bottom: 40px;

    &__title {
      background-color: #A7A7A7;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      padding: 12px 0;
      font-family: $font-family-alt-3;
    }

    &__content {
      background-color: #fff;
      padding: 20px 35px;
      font-size: 1.6rem;
      line-height: 2;
    }
  }
}

.room__box {
  .col_left {
    width: 50%;
  }

  .col_right {
    width: 47.5%;
  }

  .room__img {
    margin-bottom: 20px;
  }

  .room__des p {
    font-size: 2rem;
    line-height: 1.6;
  }

  .room__info {
    font-family: $font-family-alt-3;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
  }

  .row__wrap {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .contact_box {

    .contact_box_info,
    .contact_box_form {
      width: 100%;
    }

    .contact_box_info {
      margin-bottom: 30px;
    }

    .contact_box_form {
      h3 {
        padding: 1px 70px 7px;
      }

      #search_con div {
        padding: 10px 70px 20px;
      }
    }
  }

  .mac-os .contact_box .contact_box_form h3,
  .ios .contact_box .contact_box_form h3 {
    padding: 4px 70px;
  }

  .ios .contact_box .contact_box_form span.txt_ios {
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
  }

  .room__box {

    .col_left,
    .col_right {
      width: 100%;
    }

    .room__img {
      margin-bottom: 10px;
    }

    .col_left .room__img {
      margin-bottom: 5px;
    }

    .room__des {
      margin-bottom: 20px;
    }

    .room__des p {
      font-size: 1.6rem;
    }

    .room__info {
      margin-bottom: 20px;
    }

    .row__wrap {
      margin-bottom: 0;
    }

    .btn_round {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact_box {
    .contact_box_form {
      h3 {
        padding: 1px 50px 7px;
      }

      #search_con div {
        padding: 10px 50px 20px;
      }
    }
  }

  .mac-os .contact_box .contact_box_form h3,
  .ios .contact_box .contact_box_form h3 {
    padding: 4px 50px;
  }
}

@media screen and (max-width: 450px) {
  .contact_box {
    .contact_box_form {
      h3 {
        padding: 1px 20px 7px;
      }

      #search_con div {
        padding: 10px 20px 20px;
      }
    }
  }

  .mac-os .contact_box .contact_box_form h3,
  .ios .contact_box .contact_box_form h3 {
    padding: 4px 20px;
  }
}
