h2 {
  &.ic_access {
    padding-right: 40px;

    &:after {
      top: 4px;
      right: 0px;
      background: url(/images/ic_14.svg) center no-repeat;
      width: 29px;
      height: 39px;
    }
  }

  &.ic_recruit {
    padding-right: 45px;

    &:after {
      top: 2px;
      right: 0px;
      background: url(/images/ic_15.svg) center no-repeat;
      width: 41px;
      height: 41px;
    }
  }

  &.ic_trafic {
    padding-right: 65px;

    &:after {
      top: 12px;
      right: 0px;
      background: url(/images/ic_17.svg) center no-repeat;
      width: 47px;
      height: 29px;
    }
  }
}

.mac-os {
  h2 {
    &.ic_access {
      &:after {
        top: 0;
      }
    }

    &.ic_recruit {
      &:after {
        top: -3px;
      }
    }

    &.ic_trafic {
      &:after {
        top: 8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  h2 {
    &.ic_access {
      padding-right: 40px;

      &:after {
        top: 5px;
        width: 24px;
        height: 32px;
      }
    }

    &.ic_recruit {
      padding-right: 40px;

      &:after {
        top: 2px;
        width: 35px;
        height: 35px;
      }
    }

    &.ic_trafic {
      padding-right: 55px;

      &:after {
        top: 4px;
        width: 40px;
        height: 25px;
      }
    }
  }

  .ios {
    h2 {
      &.ic_access {
        &:after {
          top: 3px;
        }
      }

      &.ic_recruit {
        &:after {
          top: 2px;
        }
      }

      &.ic_trafic {
        &:after {
          top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  h2 {
    &.ic_access {
      padding-right: 25px;

      &:after {
        top: 2px;
        width: 19px;
        height: 26px;
      }
    }

    &.ic_recruit {
      padding-right: 40px;

      &:after {
        top: 2px;
        width: 30px;
        height: 30px;
      }
    }

    &.ic_trafic {
      padding-right: 45px;

      &:after {
        top: 4px;
        width: 35px;
        height: 22px;
      }
    }
  }

  .ios {
    h2 {
      &.ic_access {
        &:after {
          top: 0;
        }
      }

      &.ic_recruit {
        &:after {
          top: -3px;
        }
      }

      &.ic_trafic {
        &:after {
          top: 2px;
        }
      }
    }
  }
}

#access {
  section {
    .tbl-traffic {
      font-size: 2.1rem;

      th,
      td {
        font-weight: normal;
      }

      .trafic__arrow,
      .trafic__des {
        font-size: 1.6rem;
      }
    }
  }
}

#recruit,
#access {
  .container {
    padding-bottom: 200px !important;
  }
}

.recruit {
  &__des-top {
    text-align: center;
    margin-bottom: 30px;

    p {
      font-family: $font-family-base !important;
    }
  }

  &__des-bottom {
    text-align: center;
    margin-bottom: 30px;

    p {
      font-size: 1.8rem;
      line-height: 2.2;
    }
  }

  &_list {
    margin: 0 0 30px -35px;

    .recruit_item {
      width: calc(33.3333% - 35px);
      margin-left: 35px;
    }
  }

  &__box {
    margin-bottom: 0;

    .title {
      background: #527c68;
      color: #fff;
      text-align: center;
      display: block;
      font-size: 2.4rem;
      padding: 10px;
      margin-bottom: 30px;
      font-family: $font-family-alt-3;
    }

    .right {
      max-width: 1020px;
      margin: 10px auto 40px;
    }
  }

  &__des {
    text-align: center;

    p {
      margin-bottom: 30px;
    }
  }
}

.tbl-recruit {
  max-width: 1020px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);

  table {
    font-family: $font-family-alt-3;

    th,
    td {
      padding: 15px 25px;
      border: 1px solid #000;
      font-family: $font-family-alt-3;
    }

    th {
      background: #e9e9e9;
      border-top: none;
      font-weight: normal;
    }

    tr {

      th,
      td {
        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      td:first-child {
        width: 206px;
        font-family: $font-family-alt-2;
      }

      &:last-child {

        th,
        td {
          border-bottom: none;
        }
      }
    }
  }
}

/** page access **/
.access__box {
  margin-bottom: 50px;

  .row {
    margin-left: -40px;
  }

  .col {

    &_left,
    &_right {
      width: calc(50% - 40px);
      margin-left: 40px;
    }

    &_right {
      background: rgba(255, 255, 255, .8);
      padding: 35px 40px 30px 40px;

      .box__txt {
        p {
          &:not(last-child) {
            margin-bottom: 14px;
          }
        }
      }
    }
  }
}

.trafic__box {
  background: rgba(255, 255, 255, .8);
  padding: 30px 35px;
  font-family: $font-family-alt-3;

  &.trafic__bus {
    padding: 30px 35px 5px;
  }

  &--title {
    background: $green;
    color: #fff;
    padding: 16px 15px;
    margin-bottom: 5px;
    font-family: $font-family-alt-3;

    span {
      display: inline-block;
      position: relative;

      &:after {
        position: absolute;
        content: '';
      }
    }

    &.title01 {
      span {
        padding-right: 60px;

        &:after {
          right: 0;
          top: 2px;
          width: 48px;
          height: 24px;
          background: url(/images/ic_car.svg) left top no-repeat;
          background-size: cover;
        }
      }
    }

    &.title_02 {
      span {
        padding-right: 60px;

        &:after {
          top: -7px;
          right: 0;
          width: 49px;
          height: 37px;
          background: url(/images/ic_pension.svg) left top no-repeat;
          background-size: cover;
        }
      }
    }
  }

  &--inner {
    max-width: 886px;
    margin: 0 auto;

    &___wrap {
      margin-left: -40px;
    }
  }

  &--left,
  &--right {
    width: calc(50% - 40px);
    margin-left: 40px;
    text-align: center;

    h4 {
      border: 3px solid $green;
      color: $green;
      padding: 5px 10px;
      margin-bottom: 15px;
      font-family: $font-family-alt-2;
    }

    p {
      margin-bottom: 20px;
      font-size: 1.6rem !important;
    }

    ul {
      li {
        padding: 10px 0px;
        font-family: $font-family-alt-2;

        &:not(:last-child) {
          border-bottom: 1px solid #dddcda;
        }
      }
    }
  }

  &--left {
    h4 {
      background: $green;
      color: #fff;
    }
  }

  .box__title {
    max-width: 940px;
    margin: 0 auto 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    figure {
      max-width: 540px;
      width: 55%;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      font-size: 3.6rem;
      font-weight: normal;
      color: $green;
      letter-spacing: 0;
      position: relative;
      display: inline-block;
      align-self: center;
      padding-right: 65px;
      width: 42%;
      text-align: right;

      &:after {
        position: absolute;
        content: '';
        top: 15px;
        right: 0px;
        background: url(/images/ic_bus.svg) center no-repeat;
        width: 55px;
        height: 25px;
      }
    }
  }
}

.mac-os {
  .trafic__box--title.title01 span:after {
    top: 3px;
  }

  .trafic__box .box__title h2:after {
    top: 12px;
  }
}

.trafic__list {
  margin-bottom: 15px;
}

.trafic__arrow {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 190px;
    height: 6px;
    background: url(/images/tracfic_arrow.png) left top no-repeat;
    background-size: cover;
  }
}

#recruit .recruit__box p {
  font-family: $font-family-alt-3;
}

.tbl-traffic {
  text-align: center;

  span {
    display: block;
    padding: 30px 0px;
    position: relative;
    z-index: 1;

    &.font_hw3 {
      padding: 0;
      display: inline-block;
    }
  }

  th,
  td {
    vertical-align: middle;
    padding: 15px 0px;
  }

  th {
    width: 250px;
    position: relative;
    z-index: 1;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 15px;
      width: 100%;
      height: calc(100% - 30px);
      background: #eee;
      z-index: 0;
    }
  }

  td {
    width: 190px;

    div {
      padding: 0 10px;

      &.trafic__arrow {
        padding: 0 10px 6px;
      }
    }
  }
}

.access__map {
  .map {
    position: relative;
    padding-top: 286px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

@media screen and (min-width: 768px) {
  #recruit {
    .recruit__box {
      .recruit {
        &__des-top {
          p {
            font-size: 3.6rem;
            line-height: 1.35;
          }
        }
      }
    }

    .recruit__box {
      font-size: 2.2rem;

      p {
        font-size: 2.2rem;
      }

      .tbl-recruit {
        font-size: 1.8rem;
      }
    }
  }

  #access {
    section {
      font-size: 2.2rem;

      p {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #recruit {
    .container {
      padding-bottom: 50px !important;
    }
  }

  .recruit {
    &__des-top {
      p {
        font-size: 2.8rem;
      }
    }

    &__des-bottom {
      p {
        font-size: 2rem;
      }
    }
  }

  .recruit_list {
    .recruit_item:first-child {
      order: 3;
      width: 48%;
    }

    .recruit_item:nth-child(2) {
      order: 1;
      width: 100%;
      margin-bottom: 4%;
    }

    .recruit_item:last-child {
      order: 2;
      width: 48%;
    }
  }

  .access__box {
    margin-bottom: 35px;

    .row {
      margin-left: 0px;
    }

    .col {

      &_left,
      &_right {
        width: 100%;
        margin-left: 0px;
      }

      &_left {
        margin-bottom: 30px;
      }

      &_right {
        background: #fff;
        padding: 20px;

        p.address {
          border-bottom: 1px solid #333;
          padding-bottom: 10px;
        }
      }
    }
  }

  .access__map {
    margin-bottom: 35px;
  }

  .trafic__box {
    &--title {
      margin-bottom: 20px;
    }

    &.trafic__bus {
      padding: 20px 20px 5px;
    }

    .box__title {
      margin: 0 auto 30px;
      display: flex;
      justify-content: center;

      figure {
        max-width: 540px;
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      h2 {
        font-size: 1.8rem;
        font-weight: normal;
        color: $white;
        background: $green;
        letter-spacing: 0;
        position: relative;
        display: inline-block;
        align-self: center;
        width: 100%;
        text-align: left;
        padding: 16px 15px;
        font-family: $font-family-alt-3;

        span {
          position: relative;
          padding-right: 65px;
          display: inline-block;

          &:after {
            position: absolute;
            content: '';
            top: -2px;
            right: 0px;
            background: url(/images/ic_bus_sp.svg) center no-repeat;
            width: 55px;
            height: 25px;
          }
        }
      }
    }

    .ios .trafic__box .box__title h2 span:after {
      top: -1px;
    }

    .trafic__box--left {
      order: 2;
      margin-bottom: 0;

      h4 {
        background: $white;
        color: $green;
      }
    }

    .trafic__box--right {
      order: 1;
      margin-bottom: 30px;

      h4 {
        background: #527c68;
        color: #fff;
      }
    }
  }

  .trafic__list {
    position: relative;
    margin-bottom: 30px;

    &.last {
      margin-bottom: 15px;
    }

    .trafic_wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
    }

    .trafic_col_left,
    .trafic_col_right {
      width: 48%;
      z-index: 10;
      position: relative;
    }

    .trafic_col_first,
    .trafic_col_last {
      width: 100%;
      z-index: 10;
    }

    .trafic_col_first {
      margin-bottom: 20px;
    }

    .trafic_1 {
      font-size: 1.2rem;
      letter-spacing: 0;
      background: #E9E9E9;
      padding: 15px 2px;
      position: relative;

      &.first {
        margin-bottom: 75px;
      }

      &.arrow {
        &:before {
          content: '';
          position: absolute;
          top: -4px;
          left: 50%;
          border-style: solid;
          border-width: 2px 0 2px 7px;
          border-color: transparent transparent transparent #000;
          transform: rotate(90deg);
          margin-left: -3px;
        }
      }
    }

    .trafic_2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      span {
        font-size: 1.1rem;
        letter-spacing: 0;
        background: $white;
        display: block;
        padding: 2px 5px;
        min-width: 100px;
      }
    }

    .trafic_wrap.bl1 {
      .trafic_2 {
        &.st1 {
          top: 65px;
        }

        &.st2,
        &.st4 {
          bottom: 30px;
        }

        &.st3 {
          top: 70px;
        }
      }
    }

    .trafic_wrap.bl2 {

      .trafic_col_first {
        margin-bottom: 50px;
      }

      .trafic_1 {
        margin-bottom: 70px;
      }

      .trafic_2 {

        &.st1,
        &.st2 {
          top: 70px;
        }
      }
    }

    .trafic_wrap.bl3 {
      .trafic_1 {
        margin-bottom: 70px;
      }

      .trafic_2 {

        &.st1,
        &.st2 {
          bottom: 30px;
        }
      }
    }

    .trafic_col_first,
    .trafic_col_last {
      font-size: 1.2rem;
      letter-spacing: 0;
      background: #E9E9E9;
      padding: 15px 2px;
    }

    .trafic_col_last {
      position: relative;

      &.arrow2 {

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: -4px;
          border-style: solid;
          border-width: 2px 0 2px 7px;
          border-color: transparent transparent transparent #000;
          transform: rotate(90deg);
          margin-left: -3px;
        }

        &:before {
          left: 24%;
        }

        &:after {
          left: 76%;
        }
      }
    }

    .trafic__arrow {
      &:after {
        width: 190px;
        height: 6px;
      }
    }

    .trafic_temp {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #000;
      }

      &:before {
        left: 24%;
      }

      &:after {
        left: 76%;
      }
    }
  }

  .trafic__box--title {
    &.title01 {
      span:after {
        top: -2px;
      }
    }

    &.title_02 {
      span {
        padding-right: 50px;
      }

      span:after {
        top: -6px;
        width: 40px;
        height: 30px;
      }
    }
  }

  .ios {
    .trafic__box--title {
      &.title01 {
        span:after {
          top: -2px;
        }
      }

      &.title_02 {
        span:after {
          top: -6px;
        }
      }
    }
  }

  .ios {
    .trafic__box .box__title h2:after {
      top: 1px;
    }
  }
}

@media screen and (max-width: 600px) {

  #recruit,
  #access {
    .container {
      padding-bottom: 50px !important;
    }
  }

  .recruit {
    &__des-top {
      p {
        font-size: 1.6rem;
      }
    }

    &__des-bottom {
      p {
        font-size: 1.6rem;
      }
    }

    &_list {
      margin: 0;

      .recruit_item {
        width: 100%;
        margin: 0 0 30px 0;
      }
    }
  }

  .tbl-recruit {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #ececec;
    }

    &::-webkit-scrollbar-thumb {
      background: #527c68;
    }

    table {
      width: 900px;
    }
  }

  .trafic__box {
    padding: 20px;

    &.trafic__bus {
      margin-bottom: 30px;
    }

    &--inner {
      &___wrap {
        margin-left: 0px;
      }
    }

    &--left,
    &--right {
      width: 100%;
      margin-left: 0px;
      text-align: center;

      h4 {
        border: 3px solid #527c68;
        color: #527c68;
        padding: 5px 10px;
        margin-bottom: 15px;
        font-size: 2rem;
        font-family: $font-family-alt-3;
      }

      p {
        margin-bottom: 20px;
      }

      ul {
        li {
          padding: 10px 0px;

          &:not(:last-child) {
            border-bottom: 1px solid #dddcda;
          }
        }
      }
    }

    &--left {
      margin-bottom: 30px;

      h4 {
        background: #527c68;
        color: #fff;
      }
    }
  }

  #recruit .recruit__box p {
    font-size: 1.4rem;
  }
}
