.content__box {
  margin-bottom: 60px;

  p {
    font-size: 1.5rem;
    line-height: 1.7;
  }

  .col_img {
    position: relative;
    margin-bottom: 20px;
  }

  .col_txt {
    img {
      max-width: 281px;
      max-height: 600px;
    }

    span {
      margin-bottom: 15px;
    }
  }

  .col_sub {
    display: flex;
    align-items: center;

    div {
      p {
        line-height: 2.2;
      }
    }
  }

  .box__item {
    span {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .content__box {
    margin-bottom: 0;

    p {
      font-size: 2.8rem;
    }

    .row {
      > div {
        order: 2;
      }

      > .col_txt {
        order: 1;
      }

      > .col_img.col-5 {
        order: 1;
      }
    }

    .col_img {}

    .col_txt {
      margin-bottom: 20px;

      img {
        max-width: none;
      }

      &.col-5 {
        margin-bottom: 50px;
      }
    }

    .col_sub {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 35px;

      span {
        margin-bottom: 15px;
      }
    }

    .box__item {
      margin-bottom: 35px;
    }
  }
}

@media screen and (max-width: 600px) {
  .content__box {
    p {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .content__box {
    p {
      font-size: 1.6rem;
    }

    .box__item {
      margin-bottom: 25px;
    }
  }
}
