#enjoy .box__title {
  margin-bottom: 80px;
}

#enjoy .content__box {
  margin-bottom: 10px;
}

.box__table {
  margin-bottom: 30px;

  p {
    font-family: $font-family-alt-3;
    font-size: 1.6rem;
    line-height: 2;
  }
}

.box__list {
  border: 2px solid #333;
  max-width: 800px;
  margin: 0 auto 55px;
  padding: 15px 70px 15px 90px;
  font-family: $font-family-alt-3 !important;

  p {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  #enjoy .box__title {
    margin-bottom: 30px;
  }

  #enjoy .content__box {
    margin-bottom: 0;

    .row > div {
      order: 1;
    }
  }

  .box__list {
    padding: 15px 30px;
  }

  .box__table {
    div {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}

@media screen and (max-width: 600px) {
  .box__list {
    padding: 15px;
  }
}
