h2 {
  &.ic_brochure {
    padding-right: 55px;

    &:after {
      top: 0;
      right: 0px;
      background: url(/images/ic_12.svg) center no-repeat;
      width: 43px;
      height: 45px;
    }
  }

  &.ic_privacy {
    padding-right: 60px;

    &:after {
      top: 6px;
      right: 0px;
      background: url(/images/ic_16.svg) center no-repeat !important;
      width: 47px;
      height: 37px;
    }
  }

  &.ic_contact {
    padding-right: 50px;

    &:after {
      top: 12px;
      right: 0px;
      background: url(/images/ic_13.svg) center no-repeat;
      width: 43px;
      height: 30px;
    }
  }

  &.ic_event {
    padding-right: 65px;

    &:after {
      top: 4px;
      right: 0px;
      background: url(/images/ic_18.svg) center no-repeat;
      width: 43px;
      height: 45px;
    }
  }

  &.ic_plan {
    padding-right: 65px;

    &:after {
      top: 2px;
      right: 0px;
      background: url(/images/ic_04.svg) center no-repeat;
      width: 43px;
      height: 45px;
    }
  }
}

.mac-os {
  h2 {
    &.ic_brochure {
      &:after {
        top: -6px;
      }
    }

    &.ic_privacy {
      &:after {
        top: 1px;
      }
    }

    &.ic_contact {
      &:after {
        top: 6px;
      }
    }

    &.ic_event {
      &:after {
        top: 4px;
      }
    }

    &.ic_plan {
      &:after {
        top: 2px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  h2 {
    &.ic_brochure {
      padding-right: 40px;

      &:after {
        top: -6px;
        width: 32px;
        height: 33px;
      }
    }

    &.ic_contact {
      padding-right: 40px;

      &:after {
        top: 2px;
        width: 32px;
        height: 22px;
      }
    }

    &.ic_privacy {
      padding-right: 45px;

      &:after {
        top: -1px;
        width: 35px;
        height: 28px;
      }
    }
  }

  .ios {
    h2 {
      &.ic_brochure {
        &:after {
          top: -8px;
        }
      }

      &.ic_contact {
        &:after {
          top: 2px;
        }
      }

      &.ic_privacy {
        &:after {
          top: -3px;
        }
      }
    }
  }
}

.font_hanna {
  font-family: 'Hannari';
}

.font_hw3 {
  font-family: 'HirakakuStd-W3';
}

.font_hw6 {
  font-family: 'HirakakuStd-W6';
}


#privacy {
  padding: 100px 0px 0px;

  .container {
    padding-bottom: 200px !important;
  }
}

.brochure__box {
  .row {
    margin-left: -40px;
  }

  .col {

    &_left,
    &_right {
      width: calc(50% - 40px);
      margin-left: 40px;
    }

    &_left {}

    &_right {
      background: rgba(255, 255, 255, .8);
      padding: 25px 40px;
    }
  }

  .tbl_02 {
    tr {
      td {
        padding: 10px 0px;
        border-bottom: 1px solid #000;
        line-height: 1.8;
        vertical-align: top;
        letter-spacing: 0;
        font-family: $font-family-alt-3;

        &:first-child {
          width: 132px;
          text-align-last: justify;
        }

        &:last-child {
          padding-left: 25px;
        }
      }

      &:last-child {
        td {
          border: none;
        }
      }
    }
  }
}

.privacy__box {
  background: rgba(255, 255, 255, .8);
  padding: 35px;
  margin-bottom: 0;

  .txt__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  p {
    line-height: 2;
    font-family: $font-family-alt-3 !important;
  }
}

/** contact page **/
#contact {
  padding: 100px 0px 0px;

  .container {
    padding-bottom: 200px !important;
  }
}

.contact {
  &__box {
    margin-bottom: 0;
  }
}

.form_contact {
  .contact {
    &__head {
      margin-bottom: 45px;

      p {
        line-height: 2;
        font-family: $font-family-alt-3;
      }

      .txt_small {
        padding: 4px 0px;
        font-size: 1.6rem;
        font-family: $font-family-alt;
      }
    }

    &__note {
      margin: 10px 0 45px;

      a {
        text-decoration: underline;
      }

      p {
        font-family: $font-family-alt-3;
        font-size: 2rem;
      }
    }

    &__btn {
      border: none;
      cursor: pointer;
    }
  }

  .frm-contact {
    background: rgba(255, 255, 255, .8);
    padding: 35px;

    .tbl-contact {
      font-family: $font-family-alt-3;

      .row {
        justify-content: flex-start;
        align-items: center;
      }

      .required {
        display: inline-block;
        color: #f00;
      }

      .checkbox--list {
        display: flex;
        flex-flow: row wrap;
        margin-left: -40px;
        padding: 5px 0px 0px;

        li {
          width: calc(50% - 40px);
          margin: 0px 0px 12px 40px;
        }
      }

      .control__indicator {
        position: absolute;
        top: -2px;
        left: 0;
        height: 22px;
        width: 22px;
        background: transparent;
        border: 1px solid #ccc;

        &:after {
          left: 7px;
          top: 0px;
          width: 5px;
          height: 15px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          content: '';
          position: absolute;
          display: none;
        }
      }

      .control__checkbox {
        display: block;
        position: relative;
        padding-left: 36px;
        cursor: pointer;

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &:checked ~ .control__indicator {
            background: $orange;

            &:after {
              display: block;
            }
          }
        }
      }

      input[type="email"] {
        font-family: 'HirakakuStd-W3';
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea,
      select {
        width: 100%;
        background: transparent;
        border: 1px solid #ccc;
        height: 46px;
        padding: 10px;
        box-sizing: border-box;

        &.ipt-s {
          max-width: 125px;
        }

        &.ipt-m {
          max-width: 200px;
          margin-left: 15px;
        }

        &.ipt-lg {
          max-width: 498px;
        }

        &.ipt-xxlg {
          margin-top: 10px;
        }
      }

      textarea {
        height: 250px;
        padding: 5px 10px 10px;
      }

      select {
        max-width: 160px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 20 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 2px;
        border: 1px solid #dfdfdf;

        &::-ms-expand {
          display: none;
        }
      }

      .contact__row {
        display: flex;

        span {
          display: inline-block;
          align-self: center;
        }
      }

      .row__wrap-a {
        .contact__row {
          margin-right: 10px;
        }
      }

      .row__wrap-m {
        span {
          display: inline-block;
          max-width: 100px;
          margin-right: 25px;
        }

        .ipt-s {
          &.ml0 {
            margin-left: 0px;
          }
        }

        .ipt-xlg {
          width: calc(100% - 120px);
        }

        button {
          background: #d9d9d9;
          border: none;
          cursor: pointer;
          height: 42px;
          padding: 0px 5px;
        }
      }

      tr {
        .ipt-s {
          margin: 0px 10px;

          &:first-child {
            margin-left: 0px;
          }
        }

        .row__wrap-m {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          th {
            vertical-align: top;
          }
        }

      }

      th,
      td {
        padding: 16px 15px;
        border: 1px solid #ccc;
        vertical-align: top;
        font-family: $font-family-alt-3 !important;

        p,
        span {
          font-family: $font-family-alt-3 !important;
        }
      }

      th {
        text-align: left;
        font-weight: normal;
        width: 35%;
        vertical-align: top;
        padding: 21px 15px;

        &.val_middle {
          vertical-align: middle;
        }
      }

      th.pd1 {
        padding-top: 27px;
      }

      td {
        width: 65%;
      }
    }
  }

  input[type=email] {
    &::-webkit-input-placeholder {
      font-size: 2.2rem;
      font-family: 'HirakakuStd-W3';
      position: relative;
    }

    &::-moz-placeholder {
      font-size: 2.2rem;
      font-family: 'HirakakuStd-W3';
      position: relative;
    }

    &:-ms-input-placeholder {
      font-size: 2.2rem;
      font-family: 'HirakakuStd-W3';
      position: relative;
    }

    &:-moz-placeholder {
      font-size: 2.2rem;
      font-family: 'HirakakuStd-W3';
      position: relative;
    }
  }
}

/** event detail page **/
#event-detail {
  .container {
    padding-bottom: 120px !important;
  }
}

.entry__box {
  margin-bottom: 40px;

  &--detail {
    margin-bottom: 90px;
  }

  .row {
    margin-left: -40px;
  }

  .col {

    &_left,
    &_right {
      width: calc(50% - 40px);
      margin-left: 40px;
    }

    &_right {
      background: rgba(255, 255, 255, .8);
      padding: 31px 40px 20px;
    }
  }

  .box__top {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 13px;

    .date {
      font-size: 2.4rem;
      position: relative;
      padding-left: 40px;

      &:after {
        position: absolute;
        content: '';
        top: 5px;
        left: 0;
        width: 29px;
        height: 25px;
        background: url(/images/ic_18.svg) left top no-repeat;
        background-size: cover;
      }
    }

    &--title {
      font-size: 2.4rem;
    }
  }

  .box__content {
    &--title {
      font-size: 2.4rem;
      margin-bottom: 25px;
      font-family: $font-family-alt-3;
      line-height: 1.8;
    }

    p {
      font-size: 1.6rem;
      line-height: 2;
    }

    &--txt {
      font-family: $font-family-alt-3;
      font-size: 1.6rem;
      line-height: 2;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

#event {
  .container {
    padding-bottom: 200px !important;
  }
}

.entry__list {
  margin: 0 0 0 -45px;

  &--item {
    width: calc(33.3333% - 45px);
    margin: 0 0 80px 45px;
    padding-bottom: 70px;
    position: relative;

    &_thumb {
      margin-bottom: 20px;
    }

    &_title {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid #928f8a;
      font-size: 2.2rem;
    }

    &_link {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      .btn_style4 {
        max-width: 100%;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(149, 146, 141, 1);
        -moz-box-shadow: 3px 3px 5px 0px rgba(149, 146, 141, 1);
        box-shadow: 3px 3px 5px 0px rgba(149, 146, 141, 1);
      }
    }
  }
}

#plan-list {
  .container {
    padding-bottom: 120px !important;
  }
}

#plan-detail {
  .container {
    padding-bottom: 120px !important;
  }
}

.form_contact textarea,
.form_contact input {
  font-family: $font-family-alt-3;
}

.form_contact .frm-contact .tbl-contact td.vta_m {
  vertical-align: middle;
}

.contact__confirm .form_contact .frm-contact .tbl-contact .control__checkbox input:checked ~ .control__indicator {
  background: #A6A6A6;
}

.contact__confirm .form_contact .frm-contact .tbl-contact .control__indicator:after {
  border: solid #333;
  border-width: 0 2px 2px 0;
}

.form_contact .frm-contact.finish p {
  font-family: $font-family-alt-3;
  font-size: 2.2rem;
}

.form_contact .frm-contact .tbl-contact td.txta {
  height: 250px;
  vertical-align: baseline;
  line-height: 1.7;
}

.form_contact .frm-contact .tbl-contact td p.field_bd {
  border: 1px solid #a6a6a6;
  padding: 5px;
  min-height: 45px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .form_contact {
    .frm-contact {
      .tbl-contact {
        .contact__row {
          margin-bottom: 15px;

          &:last-child {
            margin: 0px;
          }
        }

        .row__wrap-a {
          display: block;

          .contact__row {
            display: block;

            &:last-child {
              margin-left: 0px;
            }
          }
        }

        .row__wrap-a {
          .contact__row {
            display: block;

            .note {
              display: block;
              margin-top: 10px;
            }
          }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
          &.ipt-s {
            max-width: 58px;
          }

          /*&.ipt-m {
						max-width: 200px;
						margin-left: 15px;
					}
					&.ipt-lg {
						max-width: 498px;
					}*/
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    &__box {
      font-size: 2.2rem;

      p {
        font-size: 2.2rem;
      }
    }
  }

  .form_contact {
    .frm-contact {
      .tbl-contact {
        .row__wrap-m {
          button {
            font-size: 2.2rem;
          }
        }

        .control__indicator {
          top: 3px;
        }

        select {
          font-size: 2.2rem;
          padding: 0px 10px;
          color: #333;
        }
      }
    }

    textarea,
    input {
      font-size: 2.2rem;
    }

    ::-webkit-input-placeholder {
      font-size: 2.2rem;
      color: #bfbfbf;
    }

    ::-moz-placeholder {
      font-size: 2.2rem;
      color: #bfbfbf;
    }

    :-ms-input-placeholder {
      font-size: 2.2rem;
      color: #bfbfbf;
    }

    :-moz-placeholder {
      font-size: 2.2rem;
      color: #bfbfbf;
    }
  }

  .entry__box {
    .col_right {
      p {
        font-size: 2.2rem;
        line-height: 1.6;
      }
    }
  }

  #privacy {

    .brochure__box,
    .privacy__box {
      font-family: 'HirakakuStd-W3';
      font-size: 2.2rem;

      p {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #privacy {
    padding: 100px 0px 0px;

    .container {
      padding-bottom: 50px !important;
    }
  }

  .privacy__box {
    padding: 25px 20px;

    .privacy__box__wrap {
      padding: 10px;
      border: 1px solid #333;
      max-height: 400px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #C9CACA;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #898989;
      }
    }

    .txt__item {
      text-align: justify;
    }
  }

  .brochure__box {
    margin-bottom: 35px;

    .row {
      margin-left: 0px;
    }

    .col {

      &_left,
      &_right {
        width: 100%;
        margin-left: 0px;
      }

      &_left {
        margin-bottom: 30px;
      }

      &_right {
        padding: 20px;
      }
    }
  }

  #contact {
    padding: 30px 0 0;

    .container {
      padding-bottom: 50px !important;
    }
  }

  .form_contact {
    .frm-contact {
      padding: 15px;

      .contact {
        &__head {
          margin-bottom: 25px;
        }
      }

      .tbl-contact {
        .contact__row {
          margin-bottom: 15px;

          &:last-child {
            margin: 0px;
          }
        }

        .row__wrap-a {
          display: block;

          .contact__row {
            display: block;

            &:last-child {
              margin-left: 0px;
            }
          }
        }

        .row__wrap-a {
          .contact__row {
            display: block;

            .note {
              display: block;
              margin-top: 10px;
            }
          }
        }

        .checkbox--list li {
          &:last-child {
            width: 100%;
          }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
          -webkit-appearance: none;

          &.ipt-s {
            max-width: 58px;
          }

          &.ipt-m {
            max-width: 200px;
            margin-left: 15px;
          }

          &.ipt-lg {
            max-width: 498px;
          }
        }

        textarea {
          height: 125px;
        }

        select {
          max-width: 150px;
        }

        th,
        td {
          display: block;
          width: 100%;
          padding: 10px;
        }

        tr {
          th {
            border-bottom: none;
          }

          &:not(:last-child) {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  #event-detail {
    padding: 0;

    .container {
      padding: 50px 20px 50px !important;
    }
  }

  .entry__box {
    margin-bottom: 50px;

    .row {
      margin-left: 0px;
    }

    .col {

      &_left,
      &_right {
        width: 100%;
        margin-left: 0px;
      }

      &_right {
        padding: 20px;
      }
    }

    .box__content {
      p {
        font-size: 1.6rem;
      }
    }
  }

  #event {
    .container {
      padding-bottom: 50px !important;
    }
  }

  .entry__list {
    margin: 0px;

    &--item {
      width: 100%;
      margin: 0 0 40px 0px;
      padding-bottom: 70px;
      position: relative;

      &_thumb {
        margin-bottom: 20px;
      }

      &_title {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #928f8a;
        font-size: 2.2rem;
      }

      &_link {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        .btn_style4 {
          max-width: 100%;
          -webkit-box-shadow: 3px 3px 5px 0px rgba(149, 146, 141, 1);
          -moz-box-shadow: 3px 3px 5px 0px rgba(149, 146, 141, 1);
          box-shadow: 3px 3px 5px 0px rgba(149, 146, 141, 1);
        }
      }
    }
  }

  #plan-list {
    .container {
      padding-bottom: 50px !important;
    }
  }

  #plan-detail {
    .container {
      padding-bottom: 50px !important;
    }
  }

  .form_contact .frm-contact .tbl-contact tr td.bd_t0 {
    border-top: none;
  }

  .form_contact .frm-contact .tbl-contact .contact__row .note {
    text-align: right;
  }

  .form_contact .frm-contact .tbl-contact .checkbox--list {
    margin-left: 0;
  }

  .form_contact .frm-contact .tbl-contact .checkbox--list li {
    width: 49%;
    margin-right: 2%;
    margin-left: 0;
    margin-bottom: 12px;
  }

  .form_contact .frm-contact .tbl-contact .checkbox--list li:nth-child(2n) {
    margin-right: 0;
  }

  .form_contact .contact__note p {
    font-size: 1.5rem;
  }

  .form_contact .frm-contact .tbl-contact input[type="text"].ipt-xxlg {
    height: 125px;
  }

  .form_contact .frm-contact .tbl-contact .row__wrap-a.row_s {
    display: flex;
    margin-bottom: 5px;
  }

  .form_contact .frm-contact .tbl-contact .row__wrap-a.row_s div {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .form_contact .frm-contact .tbl-contact .row__wrap-a.row_s .mgr0 {
    margin-right: 0 !important;
  }

  .form_contact .frm-contact .tbl-contact .row__wrap-a.row_s div input {
    max-width: 110px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .brochure__box .tbl_02 tr td:first-child {
    width: 90px;
  }

  .form_contact .contact__head .txt_small {
    font-size: 1.3rem;
    padding: 10px 0;
  }

  .form_contact .frm-contact .tbl-contact .contact__row.contact__row__normal .row_inner.input1 input {
    max-width: none;

    &.mgr {
      margin-right: 0;
    }
  }

  .form_contact .frm-contact .tbl-contact .control__checkbox {
    padding-left: 30px;
  }

  .form_contact .frm-contact .tbl-contact .control__checkbox {
    font-size: 1.1rem;
    padding-left: 22px;
    letter-spacing: 0;
  }

  .form_contact .frm-contact .tbl-contact .control__indicator {
    width: 18px;
    height: 18px;
  }

  .form_contact .frm-contact .tbl-contact .control__indicator:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
  }

  .form_contact .frm-contact .tbl-contact input[type="text"].ipt-m {
    max-width: 100px;
  }

  .form_contact .frm-contact .tbl-contact .row__wrap-m span {
    margin-right: 10px;
  }

  .form_contact .frm-contact .tbl-contact tr .ipt-s {
    margin: 0 7px;
  }

  .form_contact .frm-contact .tbl-contact select {
    max-width: 100px;
  }

  .form_contact .frm-contact .tbl-contact .row__wrap-m .ipt-xlg {
    width: calc(100% - 73px);
  }
}

@media screen and (max-width: 480px) {
  .form_contact {
    .frm-contact {
      .tbl-contact {
        .contact__row {
          &.contact__row__normal {
            display: block;

            .row_inner {
              display: flex;
            }
          }

          .note {
            display: block;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
