.info__wrap {
  max-width: 960px;
  margin: 0 auto 80px;
  background: rgba(255, 255, 255, .7);
  padding: 35px 55px;
  font-family: $font-family-alt-3;

  .info__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b1b1b1;
    font-size: 1.7rem;

    &:last-child {
      border-bottom: none;
    }

    .info__date {
      width: 13%;
    }
  }

  &.info__list .info__row {
    align-items: center;
    padding: 14px 0;

    .info__title {
      width: 60%;
    }

    .info__link {
      width: 18%;
    }
  }

  &.info__details .info__row {
    align-items: baseline;

    .info__date {
      margin-bottom: 5px;
    }

    .info__content {
      width: 83%;

      p {
        white-space: pre-line;
        line-height: 2;
      }
    }
  }
}

.paging__wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  a,
  span {
    font-family: $font-family-alt-3;
    font-size: 1.8rem;
    padding: 7px 0;
    width: 37px;
    border: 2px solid #b1b1b1;
    transition: .1s all ease-in-out;
    display: inline-block;
    text-align: center;
    max-width: 37px;
    margin: 0 8px;
    background: $white;

    &:hover {
      background: $orange;
      border-color: $orange;
      color: $white !important;
    }
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin: 0 8px;
      width: 37px;
      max-width: 37px;

      a {
        margin: 0;
      }

      a.active {
        background: $orange;
        border-color: $orange;
        color: $white !important;
      }
    }
  }

  [aria-current=page] {
    color: $white;
    background: $orange;
    border: 2px solid $orange;
  }

  .btn__prev {
    margin-left: 0;
  }

  .btn__next {
    margin-right: 0;
  }
}

.box__content--plan {
  white-space: pre-line;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-family-alt-3;
  }
}

@media screen and (max-width: 767px) {
  main.wp_body .container {
    padding: 0 20px 40px !important;
  }

  .info__wrap {
    padding: 15px 20px;

    .info__row {
      flex-direction: column;
      padding: 15px 0 25px;

      .info__date {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    &.info__list .info__row {
      align-items: flex-start;
      padding: 15px 0 30px;
      margin-bottom: 10px;

      .info__title {
        width: 100%;
        margin-bottom: 25px;
      }

      .info__link {
        width: 100%;
      }
    }

    &.info__details .info__row {

      .info__title,
      .info__content {
        width: 100%;
      }

      .info__title {
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
        margin-bottom: 15px;
        line-height: 2;
      }
    }
  }

  .paging__wrap {
    padding-bottom: 40px;

    ul {
      li {
        margin: 0 5px;
        width: 30px;
      }
    }
  }
}
